
/* ::::: http://www.sun-area.net/typo3temp/stylesheet_e256d1e024.css ::::: */

.tx-indexedsearch .tx-indexedsearch-browsebox LI { display: inline; margin-right: 5px; }
.tx-indexedsearch .tx-indexedsearch-searchbox INPUT.tx-indexedsearch-searchbox-button { width: 100px; }
.tx-indexedsearch .tx-indexedsearch-searchbox INPUT.tx-indexedsearch-searchbox-sword { width: 150px; }
.tx-indexedsearch .tx-indexedsearch-whatis { margin-top: 10px; margin-bottom: 5px; }
.tx-indexedsearch .tx-indexedsearch-whatis .tx-indexedsearch-sw { font-weight: bold; font-style: italic; }
.tx-indexedsearch .tx-indexedsearch-noresults { text-align: center; font-weight: bold; }
.tx-indexedsearch .tx-indexedsearch-res TD.tx-indexedsearch-descr { font-style: italic; }
.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-descr .tx-indexedsearch-redMarkup { color: red; }
.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-info { background: none repeat scroll 0% 0% rgb(238, 238, 238); }
.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead { margin-top: 20px; margin-bottom: 5px; }
.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead H2 { margin-top: 0px; margin-bottom: 0px; }
.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead TD { background: none repeat scroll 0% 0% rgb(204, 204, 204); vertical-align: middle; }
.tx-indexedsearch .tx-indexedsearch-res .noResume { color: rgb(102, 102, 102); }
.tx-indexedsearch .tx-indexedsearch-category { background: none repeat scroll 0% 0% rgb(204, 204, 204); font-size: 16px; font-weight: bold; }
.tx-indexedsearch .res-tmpl-css { clear: both; margin-bottom: 1em; }
.tx-indexedsearch .searchbox-tmpl-css LABEL { margin-right: 1em; width: 10em; float: left; }
.tx-indexedsearch .result-count-tmpl-css, .tx-indexedsearch .percent-tmpl-css { letter-spacing: 0pt; font-weight: normal; margin-top: -1.2em; float: right; }
.tx-indexedsearch .info-tmpl-css dt, .tx-indexedsearch dl.info-tmpl-css dd { float: left; }
.tx-indexedsearch .info-tmpl-css dd.item-mtime { float: none; }
.tx-indexedsearch .info-tmpl-css dd.item-path { float: none; }
DIV.csc-textpic-caption-c .csc-textpic-caption { text-align: center; }
DIV.csc-textpic-caption-r .csc-textpic-caption { text-align: right; }
DIV.csc-textpic-caption-l .csc-textpic-caption { text-align: left; }
DIV.csc-textpic DIV.csc-textpic-imagecolumn { float: left; display: inline; }
DIV.csc-textpic-border DIV.csc-textpic-imagewrap .csc-textpic-image IMG { border: 2px solid black; padding: 0px; }
DIV.csc-textpic-imagewrap { padding: 0pt; }
DIV.csc-textpic IMG { border: medium none; }
DIV.csc-textpic DIV.csc-textpic-imagewrap DIV.csc-textpic-image { float: left; }
DIV.csc-textpic DIV.csc-textpic-imagewrap UL { list-style: none outside none; margin: 0pt; padding: 0pt; }
DIV.csc-textpic DIV.csc-textpic-imagewrap UL LI { float: left; margin: 0pt; padding: 0pt; }
DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image { float: left; }
DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DT { float: none; }
DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD { float: none; }
DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD IMG { border: medium none; }
DL.csc-textpic-image { margin: 0pt; }
DL.csc-textpic-image DT { margin: 0pt; display: inline; }
DL.csc-textpic-image DD { margin: 0pt; }
DIV.csc-textpic-clear { clear: both; }
DIV.csc-textpic-left DIV.csc-textpic-imagewrap .csc-textpic-image, DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image, DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap .csc-textpic-image { display: inline; margin-right: 10px; }
DIV.csc-textpic-right DIV.csc-textpic-imagewrap .csc-textpic-image, DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image, DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap .csc-textpic-image { display: inline; margin-left: 10px; }
DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image { display: inline; margin-left: 10px; }
DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image .csc-textpic-caption { margin: 0pt; }
DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image IMG { margin: 0pt; }
DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image { margin-bottom: 5px; }
DIV.csc-textpic-equalheight DIV.csc-textpic-imagerow { margin-bottom: 5px; display: block; }
DIV.csc-textpic DIV.csc-textpic-imagerow { clear: both; }
DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-firstcol { margin-left: 0px ! important; }
DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-lastcol { margin-right: 0px ! important; }
DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap, DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap { margin-right: 10px ! important; }
DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap, DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap { margin-left: 10px ! important; }
DIV.csc-textpic-above DIV.csc-textpic-text { clear: both; }
DIV.csc-textpic-center { text-align: center; }
DIV.csc-textpic-center DIV.csc-textpic-imagewrap { margin: 0pt auto; }
DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image { text-align: left; }
DIV.csc-textpic-center DIV.csc-textpic-text { text-align: left; }
DIV.csc-textpic-right DIV.csc-textpic-imagewrap { float: right; }
DIV.csc-textpic-right DIV.csc-textpic-text { clear: right; }
DIV.csc-textpic-left DIV.csc-textpic-imagewrap { float: left; }
DIV.csc-textpic-left DIV.csc-textpic-text { clear: left; }
DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap { float: left; }
DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap { float: right; }
DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap { float: right; clear: both; }
* html DIV.csc-textpic-intext-right-nowrap .csc-textpic-text { height: 1%; }
DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap { float: left; clear: both; }
* html DIV.csc-textpic-intext-left-nowrap .csc-textpic-text { height: 1%; }
.csc-textpic-intext-left ol, .csc-textpic-intext-left ul { padding-left: 40px; overflow: auto; height: 1%; }
DIV.csc-textpic DIV.csc-textpic-imagerow-last { margin-bottom: 0pt; }
img.tx-srfreecap-pi2-image { margin-left: 1em; margin-right: 1em; vertical-align: middle; }
.tx-srfreecap-pi2-accessible-image { vertical-align: middle; }
.tx-srfreecap-pi2-accessible-link { width: 10em; float: right; vertical-align: middle; margin-right: 7em; }
.tx-srfreecap-pi2-cant-read { font-size: 0.9em; color: rgb(53, 0, 109); }
.tx-srfreecap-pi2-cant-read a:link { background-color: transparent; font-weight: bold; text-decoration: none; }

/* ::::: http://www.sun-area.net/fileadmin/templates/sun-area-default.css ::::: */

#schmuckbild div.csc-textpic { padding: 0px; margin: 0px; }
#schmuckbild div.csc-textpic-above { padding: 0px; margin: 0px; background: none repeat scroll 0% 0% green; }
body { font-family: Arial,Verdana,Helvetica,sans-serif; font-size: 11px; line-height: 16px; color: rgb(102, 102, 102); margin: 0px; padding: 0px; background: url('body-bg.gif') repeat-y scroll left top rgb(238, 238, 233); text-align: left; }
#container { position: absolute; top: 0px; left: 0px; width: 100% ! important; margin: 0pt auto; text-align: left; }
#intro { width: 1050px; }
a { color: rgb(102, 102, 102); text-decoration: underline; }
a:hover { color: rgb(219, 164, 42); text-decoration: underline; }
h1 { font-size: 14px; padding: 0px; margin: 0pt 0pt 8px; }
h2 { font-size: 14px; color: rgb(219, 164, 42); padding: 0px; margin: 15px 0pt 7px; }
h3 { font-size: 12px; color: rgb(219, 164, 42); padding: 0px; margin: 15px 0pt 7px; }
p { padding: 0px; margin: 0pt 0pt 15px; }
ul { margin: 0pt 0pt 15px; padding: 0px; }
ul li { list-style: none outside none; background: url('li.gif') no-repeat scroll left top transparent; padding: 0pt 0pt 0pt 10px; }
#leftbar { width: 175px; float: left; background: none repeat scroll 0% 0% white; }
a.logo { display: block; width: 175px; height: 78px; background: url('sun-area-logo.gif') no-repeat scroll 0% 0% transparent; margin: 40px 0pt 65px; }
a.logo:hover { background: url('sun-area-logo-hover.gif') no-repeat scroll 0% 0% transparent; }
#leftbar form { margin: 0pt 0pt 0pt 15px; padding: 0px; background: url('suche-bg.gif') no-repeat scroll center center transparent; width: 146px; height: 21px; }
#leftbar form input.suchfeld { height: 16px; width: 90px; border: medium none; font-size: 11px; color: rgb(76, 76, 81); padding: 2px 5px 0pt; margin: 2px 15px 0pt 5px; background: none repeat scroll 0% 0% transparent; }
#leftbar .auszeichnungen { margin: 25px 0pt 0pt 13px; padding: 0px; }
#leftbar ul { width: 145px; margin: 45px 0pt 0pt 14px; padding: 0px; }
#leftbar ul li { margin: 0px; padding: 8px 0pt 0pt 8px; height: 22px; list-style: none outside none; background: none repeat scroll 0% 0% transparent; border-bottom: 1px solid rgb(189, 189, 184); }
#leftbar ul li a { display: block; height: 22px; width: 178px; color: rgb(102, 102, 102); font-weight: bold; text-decoration: none; padding: 0pt 0pt 0pt 10px; }
#leftbar ul li a:hover { background: url('navigation-hover.gif') no-repeat scroll 0% 0% transparent; }
#leftbar ul li a.aktiv { display: block; height: 22px; width: 178px; color: rgb(102, 102, 102); font-weight: bold; text-decoration: none; padding: 0pt 0pt 0pt 10px; background: url('navigation-hit.gif') no-repeat scroll 0% 0% transparent; }
#sidebar { width: 175px; float: left; display: block; }
div.sidebarspacer { width: 175px; height: 1px; }
#sidebar .news { margin: 179px 15px 0pt; width: 145px; }
#sidebar .news-list-item { width: 145px; border-bottom: 1px solid rgb(189, 189, 184); padding-bottom: 15px; margin-bottom: 15px; }
#sidebar .news-list-item h2 { font-size: 11px; font-weight: bold; padding: 0px; margin: 0px; clear: both; }
#sidebar .news-list-item p { padding: 0px; margin: 0px; clear: both; }
#sidebar .news-list-item span { font-weight: bold; }
#sidebar .news-list-item a { color: rgb(219, 164, 42); text-decoration: none; }
#sidebar .news-list-item a:hover { color: rgb(102, 102, 102); text-decoration: none; }
#sidebar ul { width: 145px; margin: 247px 15px 0pt; padding: 0px; }
#sidebar ul li { margin: 0px; padding: 8px 0pt 0pt 8px; list-style: none outside none; background: none repeat scroll 0% 0% transparent; border-bottom: 1px solid rgb(189, 189, 184); }
#sidebar ul li a { display: block; color: rgb(102, 102, 102); text-decoration: none; padding: 0pt 0pt 0pt 10px; margin-bottom: 8px; }
#sidebar ul li a:hover { background: url('navigation-hover.gif') no-repeat scroll 0% 0% transparent; }
#sidebar ul li a.aktiv { display: block; color: rgb(102, 102, 102); text-decoration: none; padding: 0pt 0pt 0pt 10px; background: url('navigation-hit.gif') no-repeat scroll 0% 0% transparent; }
#content { width: 490px; height: 100%; float: left; }
img.top { width: 490px; border: medium none; }
div.contentwrap { width: 415px; margin: 30px 0pt 0pt 40px; }
.foot { width: 415px; margin: 30px 0pt 15px; font-size: 9px; }
.foot .print { float: right; }
.foot a { text-decoration: none; }
#rightbar { width: 195px; float: left; margin: 231px 0pt 0pt 15px; }
#rightbar p { margin: 15px 0pt 15px 15px; }
#rightbar p strong { line-height: 25px; }
#rightbar .print { padding: 0px; background: none repeat scroll 0% 0% transparent; }
#rightbar .print:hover { padding: 0px; background: none repeat scroll 0% 0% transparent; }
#rightbar a { display: block; color: rgb(102, 102, 102); text-decoration: none; padding: 0pt 0pt 0pt 10px; background: url('navigation-hover.gif') no-repeat scroll 0% 0% transparent; }
#rightbar a:hover { background: url('navigation-hit.gif') no-repeat scroll 0% 0% transparent; color: rgb(219, 164, 42); }
#rightbar a.flagge { color: rgb(102, 102, 102); text-decoration: none; padding: 0pt 10px 0pt 0pt; background: none repeat scroll 0% 0% transparent; float: left; }
#rightbar a.flagge:hover { background: none repeat scroll 0% 0% transparent; }
#rightbar hr { background: none repeat scroll 0% 0% rgb(189, 189, 184); border: medium none; height: 1px; float: none; clear: both; margin-top: 15px; }
table.kontaktform { font-size: 11px; }
.kontaktform p.form_error { color: rgb(177, 17, 62); font-weight: bold; }
.kontaktform input.eingabe { width: 190px; font-size: 11px; color: rgb(102, 102, 102); text-align: left; border: 1px solid rgb(102, 102, 102); }
.kontaktform input.pflichteingabe { width: 190px; font-size: 11px; color: rgb(102, 102, 102); text-align: left; border: 1px solid rgb(219, 164, 42); background: none repeat scroll 0% 0% rgb(255, 237, 198); }
.kontaktform select.pflichteingabe { width: 192px; font-size: 11px; color: rgb(102, 102, 102); text-align: left; border: 1px solid rgb(219, 164, 42); background: none repeat scroll 0% 0% rgb(255, 237, 198); }
.kontaktform textarea.formular { font-size: 11px; color: rgb(102, 102, 102); text-align: left; border: 1px solid rgb(102, 102, 102); width: 300px; }
.kontaktform input.button { width: 190px; font-size: 11px; font-weight: bold; color: rgb(219, 164, 42); text-align: center; border: 1px solid rgb(219, 164, 42); background: none repeat scroll 0% 0% rgb(255, 237, 198); }
.kontaktform .tx-srfreecap-pi2-cant-read { font-size: 11px; color: rgb(219, 164, 42); }
ul.sitemap { margin: 20px; }
ul.sitemap li { list-style: none outside none; margin-bottom: 5px; background: none repeat scroll 0% 0% transparent; font-weight: bold; }
ul.sitemap2 { margin: 0pt 0pt 25px 30px; }
ul.sitemap2 li { list-style: none outside none; margin-bottom: 5px; background: url('li.gif') no-repeat scroll left center transparent; font-weight: normal; }
.routenplaner input.eingabe { width: 200px; font-size: 13px; color: rgb(102, 102, 102); text-align: left; border: 1px solid rgb(102, 102, 102); margin-right: 10px; }
.routenplaner input.button { width: 200px; font-size: 13px; font-weight: bold; color: rgb(219, 164, 42); text-align: center; border: 1px solid rgb(219, 164, 42); background: none repeat scroll 0% 0% rgb(255, 237, 198); }
.tx-indexedsearch input.eingabe { width: 200px; font-size: 13px; color: rgb(102, 102, 102); text-align: left; border: 1px solid rgb(102, 102, 102); margin-right: 10px; }
.tx-indexedsearch input.button { width: 60px; font-size: 13px; font-weight: bold; color: rgb(219, 164, 42); text-align: center; border: 1px solid rgb(219, 164, 42); background: none repeat scroll 0% 0% rgb(255, 237, 198); }
.news-single-item div.news-single-timedata { margin-bottom: 10px; }
#content .news-list-item { border-bottom: 1px solid rgb(189, 189, 184); padding-bottom: 15px; margin-bottom: 15px; }
#content .news-list-item h2 { font-size: 11px; font-weight: bold; padding: 0px; margin: 0px; clear: both; }
#content .news-list-item p { padding: 0px; margin: 0px; clear: both; }
#content .news-list-item span { font-weight: bold; }
#content .news-list-item a { color: rgb(219, 164, 42); text-decoration: none; }
#content .news-list-item a:hover { color: rgb(102, 102, 102); text-decoration: none; }
.csc-frame-rulerAfter { border-bottom: 1px solid silver; margin-bottom: 20px; }
