
/* ::::: http://istgeo.ist.supsi.ch/site/sites/default/files/css/ede5e26d1009804258a10f39c01ae440.css ::::: */

.node-unpublished { background-color: rgb(255, 244, 244); }
.preview .node { background-color: rgb(255, 255, 234); }
#node-admin-filter ul { list-style-type: none; padding: 0pt; margin: 0pt; width: 100%; }
#node-admin-buttons { float: left; margin-left: 0.5em; clear: right; }
td.revision-current { background: none repeat scroll 0% 0% rgb(255, 255, 204); }
.node-form .form-text { display: block; width: 95%; }
.node-form .container-inline .form-text { display: inline; width: auto; }
.node-form .standard { clear: both; }
.node-form textarea { display: block; width: 95%; }
.node-form .attachments fieldset { float: none; display: block; }
.terms-inline { display: inline; }
fieldset { margin-bottom: 1em; padding: 0.5em; }
form { margin: 0pt; padding: 0pt; }
hr { height: 1px; border: 1px solid gray; }
img { border: 0pt none; }
table { border-collapse: collapse; }
th { text-align: left; padding-right: 1em; border-bottom: 3px solid rgb(204, 204, 204); }
.clear-block:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
.clear-block { display: inline-block; }
* html .clear-block { height: 1%; }
.clear-block { display: block; }
body.drag { cursor: move; }
th.active img { display: inline; }
tr.even, tr.odd { background-color: rgb(238, 238, 238); border-bottom: 1px solid rgb(204, 204, 204); padding: 0.1em 0.6em; }
tr.drag { background-color: rgb(255, 255, 240); }
tr.drag-previous { background-color: rgb(255, 255, 221); }
td.active { background-color: rgb(221, 221, 221); }
td.checkbox, th.checkbox { text-align: center; }
tbody { border-top: 1px solid rgb(204, 204, 204); }
tbody th { border-bottom: 1px solid rgb(204, 204, 204); }
thead th { text-align: left; padding-right: 1em; border-bottom: 3px solid rgb(204, 204, 204); }
.breadcrumb { padding-bottom: 0.5em; }
div.indentation { width: 20px; height: 1.7em; margin: -0.4em 0.2em -0.4em -0.4em; padding: 0.42em 0pt 0.42em 0.6em; float: left; }
div.tree-child { background: url('tree.png') no-repeat scroll 11px center transparent; }
div.tree-child-last { background: url('tree-bottom.png') no-repeat scroll 11px center transparent; }
div.tree-child-horizontal { background: url('tree.png') no-repeat scroll -11px center transparent; }
.error { color: rgb(238, 85, 85); }
div.error { border: 1px solid rgb(221, 119, 119); }
div.error, tr.error { background: none repeat scroll 0% 0% rgb(255, 204, 204); color: rgb(34, 0, 0); padding: 2px; }
.warning { color: rgb(224, 144, 16); }
div.warning { border: 1px solid rgb(240, 192, 32); }
div.warning, tr.warning { background: none repeat scroll 0% 0% rgb(255, 255, 221); color: rgb(34, 34, 0); padding: 2px; }
.ok { color: rgb(0, 128, 0); }
div.ok { border: 1px solid rgb(0, 170, 0); }
div.ok, tr.ok { background: none repeat scroll 0% 0% rgb(221, 255, 221); color: rgb(0, 34, 0); padding: 2px; }
.item-list .icon { color: rgb(85, 85, 85); float: right; padding-left: 0.25em; clear: right; }
.item-list .title { font-weight: bold; }
.item-list ul { margin: 0pt 0pt 0.75em; padding: 0pt; }
.item-list ul li { margin: 0pt 0pt 0.25em 1.5em; padding: 0pt; list-style: disc outside none; }
ol.task-list li.active { font-weight: bold; }
.form-item { margin-top: 1em; margin-bottom: 1em; }
tr.odd .form-item, tr.even .form-item { margin-top: 0pt; margin-bottom: 0pt; white-space: nowrap; }
tr.merge-down, tr.merge-down td, tr.merge-down th { border-bottom-width: 0pt ! important; }
tr.merge-up, tr.merge-up td, tr.merge-up th { border-top-width: 0pt ! important; }
.form-item input.error, .form-item textarea.error, .form-item select.error { border: 2px solid red; }
.form-item .description { font-size: 0.85em; }
.form-item label { display: block; font-weight: bold; }
.form-item label.option { display: inline; font-weight: normal; }
.form-checkboxes, .form-radios { margin: 1em 0pt; }
.form-checkboxes .form-item, .form-radios .form-item { margin-top: 0.4em; margin-bottom: 0.4em; }
.marker, .form-required { color: rgb(255, 0, 0); }
.more-link { text-align: right; }
.more-help-link { font-size: 0.85em; text-align: right; }
.nowrap { white-space: nowrap; }
.item-list .pager { clear: both; text-align: center; }
.item-list .pager li { background-image: none; display: inline; list-style-type: none; padding: 0.5em; }
.pager-current { font-weight: bold; }
.tips { margin-top: 0pt; margin-bottom: 0pt; padding-top: 0pt; padding-bottom: 0pt; font-size: 0.9em; }
dl.multiselect dd.b, dl.multiselect dd.b .form-item, dl.multiselect dd.b select { font-family: inherit; font-size: inherit; width: 14em; }
dl.multiselect dd.a, dl.multiselect dd.a .form-item { width: 8em; }
dl.multiselect dt, dl.multiselect dd { float: left; line-height: 1.75em; padding: 0pt; margin: 0pt 1em 0pt 0pt; }
dl.multiselect .form-item { height: 1.75em; margin: 0pt; }
.container-inline div, .container-inline label { display: inline; }
ul.primary { border-collapse: collapse; padding: 0pt 0pt 0pt 1em; white-space: nowrap; list-style: none outside none; margin: 5px; height: auto; line-height: normal; border-bottom: 1px solid rgb(187, 187, 187); }
ul.primary li { display: inline; }
ul.primary li a { background-color: rgb(221, 221, 221); border-color: rgb(187, 187, 187); border-width: 1px; border-style: solid solid none; height: auto; margin-right: 0.5em; padding: 0pt 1em; text-decoration: none; }
ul.primary li.active a { background-color: rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(187, 187, 187) rgb(187, 187, 187) rgb(255, 255, 255); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; }
ul.primary li a:hover { background-color: rgb(238, 238, 238); border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(238, 238, 238); }
ul.secondary { border-bottom: 1px solid rgb(187, 187, 187); padding: 0.5em 1em; margin: 5px; }
ul.secondary li { display: inline; padding: 0pt 1em; border-right: 1px solid rgb(204, 204, 204); }
ul.secondary a { padding: 0pt; text-decoration: none; }
ul.secondary a.active { border-bottom: 4px solid rgb(153, 153, 153); }
#autocomplete { position: absolute; border: 1px solid; overflow: hidden; z-index: 100; }
#autocomplete ul { margin: 0pt; padding: 0pt; list-style: none outside none; }
#autocomplete li { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(0, 0, 0); white-space: pre; cursor: default; }
#autocomplete li.selected { background: none repeat scroll 0% 0% rgb(0, 114, 185); color: rgb(255, 255, 255); }
html.js input.form-autocomplete { background-image: url('throbber.gif'); background-repeat: no-repeat; background-position: 100% 2px; }
html.js input.throbbing { background-position: 100% -18px; }
html.js fieldset.collapsed { border-bottom-width: 0pt; border-left-width: 0pt; border-right-width: 0pt; margin-bottom: 0pt; height: 1em; }
html.js fieldset.collapsed * { display: none; }
html.js fieldset.collapsed legend { display: block; }
html.js fieldset.collapsible legend a { padding-left: 15px; background: url('menu-expanded.png') no-repeat scroll 5px 75% transparent; }
html.js fieldset.collapsed legend a { background-image: url('menu-collapsed.png'); background-position: 5px 50%; }
* html.js fieldset.collapsed legend, * html.js fieldset.collapsed legend *, * html.js fieldset.collapsed table * { display: inline; }
html.js fieldset.collapsible { position: relative; }
html.js fieldset.collapsible legend a { display: block; }
html.js fieldset.collapsible .fieldset-wrapper { overflow: auto; }
.resizable-textarea { width: 95%; }
.resizable-textarea .grippie { height: 9px; overflow: hidden; background: url('grippie.png') no-repeat scroll center 2px rgb(238, 238, 238); border-right: 1px solid rgb(221, 221, 221); border-width: 0pt 1px 1px; border-style: solid; border-color: rgb(221, 221, 221); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; cursor: s-resize; }
html.js .resizable-textarea textarea { margin-bottom: 0pt; width: 100%; display: block; }
.draggable a.tabledrag-handle { cursor: move; float: left; height: 1.7em; margin: -0.4em 0pt -0.4em -0.5em; padding: 0.42em 1.5em 0.42em 0.5em; text-decoration: none; }
a.tabledrag-handle:hover { text-decoration: none; }
a.tabledrag-handle .handle { margin-top: 4px; height: 13px; width: 13px; background: url('draggable.png') no-repeat scroll 0pt 0pt transparent; }
a.tabledrag-handle-hover .handle { background-position: 0pt -20px; }
.joined + .grippie { height: 5px; background-position: center 1px; margin-bottom: -2px; }
.teaser-checkbox { padding-top: 1px; }
div.teaser-button-wrapper { float: right; padding-right: 5%; margin: 0pt; }
.teaser-checkbox div.form-item { float: right; margin: 0pt 5% 0pt 0pt; padding: 0pt; }
textarea.teaser { display: none; }
html.js .no-js { display: none; }
.progress { font-weight: bold; }
.progress .bar { background: url('progress.gif') repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(0, 55, 90); height: 1.5em; margin: 0pt 0.2em; }
.progress .filled { background: none repeat scroll 0% 0% rgb(0, 114, 185); height: 1em; border-bottom: 0.5em solid rgb(0, 74, 115); width: 0%; }
.progress .percentage { float: right; }
.progress-disabled { float: left; }
.ahah-progress { float: left; }
.ahah-progress .throbber { width: 15px; height: 15px; margin: 2px; background: url('throbber.gif') no-repeat scroll 0px -18px transparent; float: left; }
tr .ahah-progress .throbber { margin: 0pt 2px; }
.ahah-progress-bar { width: 16em; }
#first-time strong { display: block; padding: 1.5em 0pt 0.5em; }
tr.selected td { background: none repeat scroll 0% 0% rgb(255, 255, 204); }
table.sticky-header { margin-top: 0pt; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#clean-url.install { display: none; }
html.js .js-hide { display: none; }
#system-modules div.incompatible { font-weight: bold; }
#system-themes-form div.incompatible { font-weight: bold; }
span.password-strength { visibility: hidden; }
input.password-field { margin-right: 10px; }
div.password-description { padding: 0pt 2px; margin: 4px 0pt 0pt; font-size: 0.85em; max-width: 500px; }
div.password-description ul { margin-bottom: 0pt; }
.password-parent { margin: 0pt; }
input.password-confirm { margin-right: 10px; }
.confirm-parent { margin: 5px 0pt 0pt; }
span.password-confirm { visibility: hidden; }
span.password-confirm span { font-weight: normal; }
ul.menu { list-style: none outside none; border: medium none; text-align: left; }
ul.menu li { margin: 0pt 0pt 0pt 0.5em; }
li.expanded { list-style-type: circle; list-style-image: url('menu-expanded.png'); padding: 0.2em 0.5em 0pt 0pt; margin: 0pt; }
li.collapsed { list-style-type: disc; list-style-image: url('menu-collapsed.png'); padding: 0.2em 0.5em 0pt 0pt; margin: 0pt; }
li.leaf { list-style-type: square; list-style-image: url('menu-leaf.png'); padding: 0.2em 0.5em 0pt 0pt; margin: 0pt; }
li a.active { color: rgb(0, 0, 0); }
td.menu-disabled { background: none repeat scroll 0% 0% rgb(204, 204, 204); }
ul.links { margin: 0pt; padding: 0pt; }
ul.links.inline { display: inline; }
ul.links li { display: inline; list-style-type: none; padding: 0pt 0.5em; }
.block ul { margin: 0pt; padding: 0pt 0pt 0.25em 1em; }
#permissions td.module { font-weight: bold; }
#permissions td.permission { padding-left: 1.5em; }
#access-rules .access-type, #access-rules .rule-type { margin-right: 1em; float: left; }
#access-rules .access-type .form-item, #access-rules .rule-type .form-item { margin-top: 0pt; }
#access-rules .mask { clear: both; }
#user-login-form { text-align: center; }
#user-admin-filter ul { list-style-type: none; padding: 0pt; margin: 0pt; width: 100%; }
#user-admin-buttons { float: left; margin-left: 0.5em; clear: right; }
#user-admin-settings fieldset .description { font-size: 0.85em; padding-bottom: 0.5em; }
.profile { clear: both; margin: 1em 0pt; }
.profile .picture { float: right; margin: 0pt 1em 1em 0pt; }
.profile h3 { border-bottom: 1px solid rgb(204, 204, 204); }
.profile dl { margin: 0pt 0pt 1.5em; }
.profile dt { margin: 0pt 0pt 0.2em; font-weight: bold; }
.profile dd { margin: 0pt 0pt 1em; }
.rteindent1 { margin-left: 40px; }
.rteindent2 { margin-left: 80px; }
.rteindent3 { margin-left: 120px; }
.rteindent4 { margin-left: 160px; }
.rteleft { text-align: left; }
.rteright { text-align: right; }
.rtecenter { text-align: center; }
.rtejustify { text-align: justify; }
body { color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); margin: 0pt; padding: 0pt; }
body, p, td, li, ul, ol { font-family: Verdana,Helvetica,Arial,sans-serif; }
h1, h2, h3, h4, h5, h6 { font-family: "Trebuchet MS",Geneva,Arial,Helvetica,SunSans-Regular,Verdana,sans-serif; margin: 0pt; }
h1 { color: rgb(51, 102, 153); font-size: 1.6em; }
tr.odd td, tr.even td { padding: 0.3em; }
a:link { text-decoration: none; font-weight: bold; color: rgb(255, 140, 0); }
a:visited { text-decoration: none; font-weight: bold; color: rgb(204, 153, 102); }
a:hover, a:active { font-weight: bold; color: rgb(255, 69, 0); text-decoration: underline; }
fieldset { border: 1px solid rgb(204, 204, 204); }
p { margin: 0pt 0pt 1.3em; padding: 0pt; }
blockquote { border-left: 4px solid rgb(102, 153, 204); padding: 0pt 15px; margin: 25px 100px 25px 50px; color: rgb(105, 105, 105); text-align: left; font-size: 1.2em; line-height: 1.3em; font-family: "Trebuchet MS",Geneva,Arial,Helvetica,SunSans-Regular,Verdana,sans-serif; }
pre { background-color: rgb(238, 238, 238); padding: 0.75em 1.5em; font-size: 1.2em; border: 1px solid rgb(221, 221, 221); }
.form-item { margin-top: 1em; }
.form-item label { color: rgb(51, 102, 153); }
.item-list .title { color: rgb(51, 102, 153); font-size: 0.85em; }
#primary-menu { border-collapse: separate; background-color: rgb(189, 211, 234); border-bottom: 3px solid rgb(102, 153, 204); }
#primary-menu tr { background: url('header-a.jpg') repeat scroll left bottom transparent; }
td#home { background: url('logo-background.jpg') no-repeat scroll left top rgb(189, 211, 234); }
td#home a:link img, td#home a:visited img { background: url('logo-active.png') no-repeat scroll center center transparent; width: 144px; height: 63px; }
td#home a:hover img { background: url('logo-hover.png') no-repeat scroll center center transparent; width: 144px; height: 63px; }
.primary-links, .primary-links a:link, .primary-links a:visited { color: rgb(255, 255, 255); }
.primary-links a:hover { color: rgb(0, 0, 0); }
#primary-menu .primary-links { background: url('header-b.png') no-repeat scroll right top rgb(189, 211, 234); font-size: 0.79em; }
#primary-menu .primary-links h1, #primary-menu .primary-links h2, #primary-menu .primary-links h3 { font-size: 2.3em; color: rgb(51, 102, 153); }
#secondary-menu { border-collapse: separate; background-color: rgb(51, 102, 153); border-bottom: 3px solid rgb(102, 153, 204); }
.secondary-links, .secondary-links a:link, .secondary-links a:visited { color: rgb(228, 233, 235); }
.secondary-links a:hover { color: rgb(255, 255, 255); text-decoration: underline; }
#secondary-menu .secondary-links { font-size: 0.85em; }
ul.links li { border-left: 1px solid rgb(255, 140, 0); }
#navlist li { border-left: 1px solid rgb(51, 102, 153); }
#subnavlist li, ul.primary-links li, ul.secondary-links li { border-left: 1px solid rgb(255, 255, 255); }
#navlist li.first, #subnavlist li.first, ul.links li.first { border: medium none; }
.tabs { margin: 15px 0pt; }
.tabs ul.primary { border-collapse: collapse; padding: 0pt 0pt 3px 10px; white-space: nowrap; list-style: none outside none; margin: 0pt; height: auto; line-height: normal; border-bottom: 2px solid rgb(51, 102, 153); }
.tabs ul.primary li { display: inline; }
.tabs ul.primary li a { padding: 3px 10px; background: url('tabs-off.png') no-repeat scroll left top rgb(255, 255, 255); border-color: rgb(102, 153, 204); border-width: 2px; border-style: none solid none none; height: auto; margin-right: 10px; text-decoration: none; text-transform: lowercase; }
.tabs ul.primary li.active a { background: url('tabs-on.png') no-repeat scroll left top rgb(51, 102, 153); border-right: 2px solid rgb(51, 102, 153); color: rgb(255, 255, 255); }
.tabs ul.primary li a:hover { background-color: rgb(255, 250, 240); color: rgb(255, 69, 0); }
.tabs ul.secondary { border-collapse: collapse; padding: 10px 0pt; margin: 0pt; white-space: nowrap; width: 100%; list-style: none outside none; height: auto; line-height: normal; border-bottom: medium none; }
.tabs ul.secondary li { display: inline; height: auto; padding: 0pt 0pt 0pt 10px; text-decoration: none; border-right: medium none; }
.tabs ul.secondary li a { background: url('tabs-option-off.png') no-repeat scroll left center rgb(255, 255, 255); padding: 10px 0pt 10px 25px; margin: 0pt; }
.tabs ul.secondary li a.active { background: url('tabs-option-on.png') no-repeat scroll left center rgb(255, 255, 255); color: rgb(51, 102, 153); border-bottom: medium none; }
.tabs ul.secondary li a:hover { background: url('tabs-option-hover.png') no-repeat scroll left center rgb(255, 255, 255); color: rgb(255, 69, 0); }
#content { background-color: rgb(255, 255, 255); }
#contentstart { background-color: rgb(255, 255, 255); }
#menu { padding: 0.5em 0.5em 0pt; text-align: right; vertical-align: middle; }
#search .form-text, #search .form-submit { border: 1px solid rgb(51, 102, 153); font-size: 0.85em; margin: 0.2em; }
#search .form-text { width: 9em; }
#search .form-submit { height: 1.5em; }
#mission { background-color: rgb(255, 255, 255); color: rgb(105, 105, 105); border-top: 2px solid rgb(220, 220, 220); border-bottom: 2px solid rgb(220, 220, 220); padding: 10px; margin: 20px 35px 0pt; font-family: "Trebuchet MS",Geneva,Arial,Helvetica,SunSans-Regular,Verdana,sans-serif; font-size: 1.1em; font-weight: normal; }
#site-info { background-color: rgb(189, 211, 234); background-image: url('header-c.png'); font-family: "Trebuchet MS",Geneva,Arial,Helvetica,SunSans-Regular,Verdana,sans-serif; }
.site-name { font-size: 1.2em; }
.site-name a:link, .site-name a:visited { color: rgb(255, 255, 255); }
.site-name a:hover { color: rgb(255, 140, 0); text-decoration: none; }
.site-slogan { font-size: 0.8em; font-weight: bold; color: rgb(51, 102, 153); }
#main { padding: 30px 35px 50px; background: url('background.png') no-repeat scroll center top transparent; }
#mission, .node .content, .comment .content { line-height: 1.4; }
#help { font-size: 0.9em; margin-bottom: 1em; }
.breadcrumb { margin-bottom: 0.5em; }
.messages { background-color: rgb(238, 238, 238); border: 1px solid rgb(204, 204, 204); padding: 0.3em; margin-bottom: 1em; }
.error { border-color: red; }
.nav { padding: 0pt; margin: 0pt; }
#sidebar-left, #sidebar-right { font-size: 0.75em; width: 175px; padding: 25px 10px 75px; vertical-align: top; background: none repeat scroll 0% 0% rgb(255, 250, 240); }
#sidebar-left { border-right: 3px solid rgb(245, 245, 245); }
#sidebar-right { border-left: 3px solid rgb(245, 245, 245); }
#sidebar-left li, #sidebar-right li { font-size: 1em; }
.node .content { text-align: left; font-size: 0.85em; line-height: 1.3; }
.comment .content { text-align: left; font-size: 0.85em; line-height: 1.3; }
#footer-message { padding: 15px 100px 30px; font-size: 0.85em; text-align: center; color: rgb(170, 170, 170); }
table#footer-menu { border-top: 3px solid rgb(102, 153, 204); border-bottom: 3px solid rgb(102, 153, 204); background-color: rgb(51, 102, 153); color: rgb(228, 233, 235); }
#footer-menu td { padding: 5px; font-size: 0.75em; }
#footer-menu .primary-links, #footer-menu a:link, #footer-menu a:visited { color: rgb(228, 233, 235); }
#footer-menu a:hover { color: rgb(255, 255, 255); text-decoration: underline; }
#footer-menu .primary-links h1, #footer-menu .primary-links h2, #footer-menu .primary-links h3 { font-size: 1.3em; color: rgb(228, 233, 235); }
#content .title, #content .title a { color: rgb(51, 102, 153); }
.content h1 { color: rgb(51, 102, 153); font-size: 1.9em; }
.content h2 { color: rgb(85, 136, 187); font-size: 1.7em; }
.content h3 { color: rgb(102, 153, 204); font-size: 1.5em; }
.content h4 { color: rgb(136, 187, 238); font-size: 1.3em; }
.content h5 { color: rgb(150, 198, 246); font-size: 1.15em; }
.submitted { color: rgb(153, 153, 153); font-size: 0.79em; }
div.links { color: rgb(255, 140, 0); }
.links a { font-weight: bold; }
.box { padding: 0pt 0pt 1.5em; }
.box { padding: 0pt; margin: 0pt; }
.box h2 { font-size: 9px; }
.block .title h3 { border-bottom: 2px solid rgb(102, 153, 204); color: rgb(51, 102, 153); font-size: 18px; font-weight: bold; padding: 10px 5px 10px 35px; margin-bottom: 0.25em; background: url('icon-block.png') no-repeat scroll left center transparent; }
.block .content { padding: 5px; }
.block { margin-bottom: 1.5em; }
.box .title { font-size: 1.1em; }
.node { margin: 0.5em 0pt 2.5em; }
.node .content, .comment .content { margin: 0.5em 0pt; }
.node .taxonomy { color: rgb(153, 153, 153); font-size: 0.83em; padding: 1.5em; }
.node .picture { border: 1px solid rgb(255, 255, 255); float: right; margin: 0.5em; }
.comment { border: 1px solid rgb(170, 187, 204); padding: 0.5em; margin-bottom: 1em; }
.comment .title { font-size: 1em; padding: 10px 0pt 12px 19px; background: url('icon-comment.png') no-repeat scroll left center transparent; }
.comment .new { font-weight: bold; font-size: 1em; margin-left: 2px; color: red; }
.comment .picture { border: 1px solid rgb(255, 255, 255); float: right; margin: 10px; }
div.links { font-size: 0.75em; }
div.links .prev, div.links .next, div.links .up { font-size: 1.15em; }
.titles .prev, .titles .next { font-size: 0.85em; font-weight: bold; color: rgb(68, 68, 68); }
.hide { display: none; }
.nav .links .next a:link { padding: 17px 17px 17px 0pt; background: url('arrow-next.png') no-repeat scroll right center transparent; }
.nav .links .next a:visited { padding: 17px 17px 17px 0pt; background: url('arrow-next-visited.png') no-repeat scroll right center transparent; }
.nav .links .next a:hover { padding: 17px 17px 17px 0pt; background: url('arrow-next-hover.png') no-repeat scroll right center transparent; }
.nav .links .prev a:link { padding: 17px 0pt 17px 17px; background: url('arrow-prev.png') no-repeat scroll left center transparent; }
.nav .links .prev a:visited { padding: 17px 0pt 17px 17px; background: url('arrow-prev-visited.png') no-repeat scroll left center transparent; }
.nav .links .prev a:hover { padding: 17px 0pt 17px 17px; background: url('arrow-prev-hover.png') no-repeat scroll left center transparent; }
.nav .links .up a:link { padding: 11px 0pt 17px; background: url('arrow-up.png') no-repeat scroll center top transparent; }
.nav .links .up a:visited { padding: 11px 0pt 17px; background: url('arrow-up-visited.png') no-repeat scroll center top transparent; }
.nav .links .up a:hover { padding: 11px 0pt 17px; background: url('arrow-up-hover.png') no-repeat scroll center top transparent; }
div.admin-panel .description { color: rgb(153, 153, 153); }
div.admin-panel h3 { background-color: rgb(51, 102, 153); color: rgb(255, 255, 255); padding: 5px 8px; margin: 0pt; }
div.admin-panel .body { background: none repeat scroll 0% 0% rgb(255, 250, 240); }
.content .active { color: rgb(51, 102, 153); }
#aggregator .feed-source { background-color: rgb(238, 238, 238); border: 1px solid rgb(204, 204, 204); padding: 1em; margin: 1em 0pt; }
#aggregator .news-item .source { color: rgb(153, 153, 153); font-style: italic; font-size: 0.85em; }
#aggregator .title { font-size: 1em; }
#aggregator h3 { margin-top: 1em; }
#tracker th { text-align: center; background-color: rgb(245, 245, 245); border-bottom: 1px solid rgb(221, 221, 221); border-right: 1px solid rgb(221, 221, 221); border-left: 1px solid rgb(250, 250, 250); }
#tracker th img { float: right; }
#tracker tr.even, #tracker tr.odd { background-color: rgb(255, 255, 255); }
#tracker td { vertical-align: top; padding: 1em 1em 1em 0pt; border-bottom: 1px solid rgb(187, 187, 187); }
#forum { margin: 15px 0pt; background-color: rgb(255, 255, 255); }
#forum table { width: 100%; border: 2px solid rgb(102, 153, 204); }
#forum table tr th { text-align: center; background: none repeat scroll 0% 0% rgb(102, 153, 204); color: rgb(255, 255, 255); font-size: 0.75em; border-bottom: 1px solid rgb(170, 170, 170); }
#forum table tr th a { color: rgb(255, 255, 255); text-decoration: underline; }
#forum table tr th img { margin: 0pt; }
#forum tr.odd { background: none repeat scroll 0% 0% rgb(224, 237, 251); }
#forum tr.even { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#forum td { padding: 0.5em; }
#forum td.container { color: rgb(0, 0, 0); background: url('forum-container.jpg') no-repeat scroll right top rgb(51, 102, 153); border: 2px solid rgb(102, 153, 204); }
#forum td.container a { color: rgb(228, 233, 235); padding: 20px 0pt 20px 35px; background: url('forum-link.png') no-repeat scroll left center transparent; }
#forum td.container a:visited { color: rgb(228, 233, 235); }
#forum td.statistics, #forum td.settings, #forum td.pager { height: 1.5em; border: 1px solid rgb(187, 187, 187); }
#forum td .name { color: rgb(153, 102, 204); }
#forum td .links { padding-top: 0.7em; font-size: 0.9em; }
.block-forum h3 { margin-bottom: 0.5em; }
