
/* ::::: https://www.fh-frankfurt.de/typo3temp/stylesheet_2cce5f12e2.css?1328884527 ::::: */

.tx-indexedsearch .tx-indexedsearch-browsebox LI { display: inline; margin-right: 5px; }
.tx-indexedsearch .tx-indexedsearch-searchbox INPUT.tx-indexedsearch-searchbox-button { width: 100px; }
.tx-indexedsearch .tx-indexedsearch-searchbox INPUT.tx-indexedsearch-searchbox-sword { width: 150px; }
.tx-indexedsearch .tx-indexedsearch-whatis { margin-top: 10px; margin-bottom: 5px; }
.tx-indexedsearch .tx-indexedsearch-whatis .tx-indexedsearch-sw { font-weight: bold; font-style: italic; }
.tx-indexedsearch .tx-indexedsearch-noresults { text-align: center; font-weight: bold; }
.tx-indexedsearch .tx-indexedsearch-res TD.tx-indexedsearch-descr { font-style: italic; }
.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-descr .tx-indexedsearch-redMarkup { color: red; }
.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-info { background: none repeat scroll 0% 0% rgb(238, 238, 238); }
.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead { margin-top: 20px; margin-bottom: 5px; }
.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead H2 { margin-top: 0px; margin-bottom: 0px; }
.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead TD { background: none repeat scroll 0% 0% rgb(204, 204, 204); vertical-align: middle; }
.tx-indexedsearch .tx-indexedsearch-res .noResume { color: rgb(102, 102, 102); }
.tx-indexedsearch .tx-indexedsearch-category { background: none repeat scroll 0% 0% rgb(204, 204, 204); font-size: 16px; font-weight: bold; }
.tx-indexedsearch .res-tmpl-css { clear: both; margin-bottom: 1em; }
.tx-indexedsearch .searchbox-tmpl-css LABEL { margin-right: 1em; width: 10em; float: left; }
.tx-indexedsearch .result-count-tmpl-css, .tx-indexedsearch .percent-tmpl-css { letter-spacing: 0pt; font-weight: normal; margin-top: -1.2em; float: right; }
.tx-indexedsearch .info-tmpl-css dt, .tx-indexedsearch dl.info-tmpl-css dd { float: left; }
.tx-indexedsearch .info-tmpl-css dd.item-mtime { float: none; }
.tx-indexedsearch .info-tmpl-css dd.item-path { float: none; }
.tx-felogin-pi1 label { display: block; }
DIV.csc-textpic-caption-c .csc-textpic-caption { text-align: center; }
DIV.csc-textpic-caption-r .csc-textpic-caption { text-align: right; }
DIV.csc-textpic-caption-l .csc-textpic-caption { text-align: left; }
DIV.csc-textpic DIV.csc-textpic-imagecolumn { float: left; display: inline; }
DIV.csc-textpic-border DIV.csc-textpic-imagewrap .csc-textpic-image IMG, DIV.csc-textpic-border DIV.csc-textpic-single-image IMG { border: 2px solid black; padding: 0px; }
DIV.csc-textpic-imagewrap { padding: 0pt; }
DIV.csc-textpic IMG { border: medium none; }
DIV.csc-textpic DIV.csc-textpic-imagewrap DIV.csc-textpic-image { float: left; }
DIV.csc-textpic DIV.csc-textpic-imagewrap UL { list-style: none outside none; margin: 0pt; padding: 0pt; }
DIV.csc-textpic DIV.csc-textpic-imagewrap UL LI { float: left; margin: 0pt; padding: 0pt; }
DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image { float: left; }
DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DT { float: none; }
DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD { float: none; }
DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD IMG { border: medium none; }
DL.csc-textpic-image { margin: 0pt; }
DL.csc-textpic-image DT { margin: 0pt; display: inline; }
DL.csc-textpic-image DD { margin: 0pt; }
DIV.csc-textpic-clear { clear: both; }
DIV.csc-textpic-left DIV.csc-textpic-imagewrap .csc-textpic-image, DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image, DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap .csc-textpic-image { display: inline; margin-right: 10px; }
DIV.csc-textpic-right DIV.csc-textpic-imagewrap .csc-textpic-image, DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image, DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap .csc-textpic-image { display: inline; margin-left: 10px; }
DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image { display: inline; margin-left: 10px; }
DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image .csc-textpic-caption { margin: 0pt; }
DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image IMG { margin: 0pt; vertical-align: bottom; }
DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image { margin-bottom: 10px; }
DIV.csc-textpic-equalheight DIV.csc-textpic-imagerow { margin-bottom: 10px; display: block; }
DIV.csc-textpic DIV.csc-textpic-imagerow { clear: both; }
DIV.csc-textpic DIV.csc-textpic-single-image IMG { margin-bottom: 10px; }
* + html DIV.csc-textpic DIV.csc-textpic-imagerow .csc-textpic-image { margin-bottom: 0pt; }
* + html DIV.csc-textpic DIV.csc-textpic-imagerow { margin-bottom: 10px; }
DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-firstcol { margin-left: 0px ! important; }
DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-lastcol { margin-right: 0px ! important; }
DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap, DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap { margin-right: 10px ! important; }
DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap, DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap { margin-left: 10px ! important; }
DIV.csc-textpic-above DIV.csc-textpic-text { clear: both; }
DIV.csc-textpic-center { text-align: center; }
DIV.csc-textpic-center DIV.csc-textpic-imagewrap { margin: 0pt auto; }
DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image { text-align: left; }
DIV.csc-textpic-center DIV.csc-textpic-text { text-align: left; }
DIV.csc-textpic-right DIV.csc-textpic-imagewrap { float: right; }
DIV.csc-textpic-right DIV.csc-textpic-text { clear: right; }
DIV.csc-textpic-left DIV.csc-textpic-imagewrap { float: left; }
DIV.csc-textpic-left DIV.csc-textpic-text { clear: left; }
DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap { float: left; }
DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap { float: right; }
DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap { float: right; clear: both; }
* html DIV.csc-textpic-intext-right-nowrap .csc-textpic-text { height: 1%; }
DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap { float: left; clear: both; }
* html DIV.csc-textpic-intext-left-nowrap .csc-textpic-text, * html .csc-textpic-intext-left ol, * html .csc-textpic-intext-left ul { height: 1%; }
DIV.csc-textpic DIV.csc-textpic-imagerow-last { margin-bottom: 0pt; }
.csc-textpic-intext-left ol, .csc-textpic-intext-left ul { padding-left: 40px; overflow: auto; }
.news-single-rightbox, .news-single-imgcaption, .news-latest-date, .news-latest-morelink, .news-latest-category, .news-list-category, .news-list-author, .news-list-imgcaption, .news-list-date, .news-list-browse, .news-amenu-container, .news-catmenu { font-size: 10px; }
.news-latest-container HR.clearer, .news-list-container HR.clearer, .news-list2-container HR.clearer, .news-list3-container HR.clearer, .news-single-item HR.cl-left, .news-single-item HR.cl-right { clear: right; height: 1px; border: medium none; padding: 0pt; margin: 0pt; }
.news-list2-container HR.clearer, .news-list3-container HR.clearer { clear: both; }
.news-single-item HR.cl-left { clear: left; }
.news-latest-container { padding: 10px; }
.news-latest-gotoarchive { padding: 3px; margin: 3px; background-color: rgb(243, 243, 243); }
.news-latest-container H2 { padding: 0pt 0pt 2px; margin: 0pt; }
.news-latest-item { padding: 3px; margin: 0pt; }
.news-latest-item IMG { margin: 0pt 5px 5px 0pt; float: left; border: medium none; }
.news-latest-category IMG { float: none; border: medium none; margin: 0px; }
.news-latest-item > p { margin: 0pt; padding: 0pt; }
.news-list-container { padding: 10px 0pt; }
.news-list-item { padding: 0pt 0pt 10px; }
.news-list-container H2 { margin: 0px; }
.news-list-date { float: right; display: block; padding-left: 10px; }
.news-list-imgcaption { padding: 3px 3px 0pt 0pt; }
.news-list-container IMG { float: right; margin: 0pt 2px 5px 5px; border: medium none; }
.news-list-category IMG { float: none; border: medium none; margin: 0px; }
.news-list-morelink { padding-left: 5px; }
.news-list2-container, .news-list3-container { padding: 0pt 0pt 10px; }
.news-list2-container, .news-list3-container { background: none repeat scroll 0% 0% rgb(229, 229, 229); }
.news-list3-item, .list2-subdiv-hdr { background: none repeat scroll 0% 0% rgb(241, 241, 241); }
.news-list2-container .hdr-left, .news-list2-container .hdr-right, .news-list3-container .list3-left, .news-list3-container .list3-right { width: 48%; float: left; padding: 5px; }
.news-list2-container .sub-left, .news-list2-container .sub-middle, .news-list2-container .sub-right { width: 31%; float: left; padding: 5px; }
.news-list3-item { padding: 5px; }
.news-list3-item, .list3-subdiv, .list2-subdiv { border-top: 5px solid rgb(255, 255, 255); }
.news-list2-container IMG { float: right; margin: 0pt 2px 5px 5px; border: medium none; }
.news-list3-container IMG { float: left; margin: 0pt 5px 5px 2px; border: medium none; }
.news-list-browse { text-align: center; margin-bottom: 20px; }
.activeLinkWrap { font-weight: bold; }
.disabledLinkWrap { color: rgb(153, 153, 153); }
.disabledLinkWrap, .browseLinksWrap a, .activeLinkWrap { padding: 0pt 1px; }
.news-single-item { padding: 5px; margin-bottom: 5px; }
.news-single-img { float: right; margin: 10px 0pt 0pt 10px; padding: 0pt; }
.news-single-img img { border: medium none; }
.news-single-imgcaption { padding: 1px 0pt 3px; margin: 0pt; }
.news-single-rightbox { float: right; width: 160px; text-align: right; clear: both; }
.news-single-backlink { padding: 10px; }
.news-single-additional-info { margin-top: 15px; padding: 3px; clear: both; }
.news-single-related, .news-single-files, .news-single-links { margin: 0pt 0pt 3px; padding: 3px; }
.news-single-related DD, .news-single-links DD, .news-single-files DD { margin-left: 20px; }
.news-single-related DT, .news-single-links DT, .news-single-files DT { font-weight: bold; margin-left: 5px; }
.news-single-files DD A { padding: 0pt 3px; }
.sv-img-big img, .sv-img-small img { border: medium none; }
.sv-img-big { float: right; padding: 10px 0pt 2px 10px; }
.sv-img-small-wrapper { padding: 15px 0pt; }
.sv-img-small { float: left; padding: 0pt 10px 10px 0pt; }
.news-amenu-container { width: 165px; padding: 0pt; margin-left: 10px; }
.news-amenu-container LI { padding-bottom: 1px; }
.news-amenu-container LI:hover { background-color: rgb(243, 243, 243); }
.news-amenu-container UL { padding: 0pt; margin: 5px 0pt 0pt; list-style-type: none; }
.news-amenu-item-year { font-weight: bold; margin-top: 10px; padding: 2px; background-color: rgb(243, 243, 243); }
.amenu-act { background: none repeat scroll 0% 0% rgb(255, 255, 255); font-weight: bold; }
.news-catmenu { padding: 10px; }
ul.tree { list-style: none outside none; margin: 0pt; padding: 0pt; clear: both; }
ul.tree A { text-decoration: none; }
ul.tree A.pm { cursor: pointer; }
ul.tree img { vertical-align: middle; }
ul.tree ul { list-style: none outside none; margin: 0pt; padding: 0pt 0pt 0pt 17px; }
ul.tree ul li { list-style: none outside none; margin: 0pt; padding: 0pt; line-height: 10px; white-space: nowrap; }
ul.tree ul li.expanded ul { background: url('line.gif') repeat-y scroll left top transparent; }
ul.tree ul li.last > ul { background: none repeat scroll 0% 0% transparent; }
ul.tree li.active, ul.tree ul li.active { background-color: rgb(235, 235, 235) ! important; }
ul.tree li.active ul, ul.tree ul li.active ul { background-color: rgb(247, 243, 239); }
.level1 { padding: 1px 1px 1px 10px; background-color: rgb(235, 248, 191); border-left: 1px solid rgb(102, 102, 102); border-top: 1px solid rgb(102, 102, 102); }
.level2 { padding: 1px 1px 1px 10px; background-color: rgb(221, 243, 147); border-left: 1px solid rgb(102, 102, 102); }
.level3 { padding: 1px 1px 1px 10px; background-color: rgb(202, 228, 110); border-left: 1px solid rgb(102, 102, 102); border-top: 1px solid rgb(102, 102, 102); }
.level4 { padding: 1px 1px 1px 10px; background-color: rgb(176, 203, 81); border-left: 1px solid rgb(102, 102, 102); }

/* ::::: https://www.fh-frankfurt.de/fileadmin/css/default.css ::::: */

.clearfix:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
.clearfix { display: block; }
.important { color: rgb(238, 102, 0); font-style: normal; font-weight: bold; }
.name-of-person { color: blue; font-style: normal; font-weight: bold; }
.detail { color: green; font-style: normal; font-weight: bold; }
.align-right { text-align: right; }
.align-left { text-align: left; }
.align-center { text-align: center; }
.csc-frame-frame1 { border: 1px solid black; background-color: rgb(231, 231, 231); padding: 7px 5px; }
.csc-frame-frame2 { border: 1px solid black; background-color: rgb(255, 250, 168); padding: 7px 5px; }
.csc-frame-rulerAfter { border-bottom: 2px solid gray; }
.csc-frame-rulerBefore { border-top: 2px solid gray; }
html { background-color: white; padding: 0pt; }
body { padding: 0pt; margin: 0px auto; text-align: center; }
#navigation, #header, #content, #footer, #tools { text-align: left; margin: 0pt auto; padding: 0pt; background-color: white; width: 756px; }
div.columns { float: left; margin: 0pt 0pt 12px; padding: 0pt; vertical-align: top; min-height: 12px; overflow: hidden; }
#navigation div.columns { width: 180px; }
#navigation div.spacer { height: 100px; width: 12px; }
div.standard { margin-bottom: 12px; }
div.news-single-item ol { padding-left: 17px; }
a { text-decoration: none; padding-left: 12px; background-image: url('arrow_right.gif'); background-repeat: no-repeat; background-position: left center; color: rgb(102, 102, 102); }
a:hover { color: rgb(255, 136, 51); background-image: url('arrow_right_hover.gif'); }
a.up, a.down, a.back { padding-left: 14px; }
a.up:hover { background-image: url('arrow_up_hover.gif'); }
a.down:hover { background-image: url('arrow_down_hover.gif'); }
a.back:hover { background-image: url('arrow_left_hover.gif'); }
a.imglink { background-image: url(""); padding: 0pt; }
a.imglink:hover {  }
a.ec_red, a.ec_orange, a.ec_yellow, a.ec_blue, a.ec_cyan, a.ec_green, a.ec_purple, a.ec_lightblue { margin-right: 15px; }
a.ec_red, a.ec_red:visited { background-image: url('arrow_ec_red.gif'); }
a.ec_orange, a.ec_orange:visited { background-image: url('arrow_ec_orange.gif'); }
a.ec_yellow, a.ec_yellow:visited { background-image: url('arrow_ec_yellow.gif'); }
a.ec_blue, a.ec_blue:visited { background-image: url('arrow_ec_blue.gif'); }
a.ec_cyan, a.ec_cyan:visited { background-image: url('arrow_ec_cyan.gif'); }
a.ec_green, a.ec_green:visited { background-image: url('arrow_ec_green.gif'); }
a.ec_purple, a.ec_purple:visited { background-image: url('arrow_ec_purple.gif'); }
a.ec_lightblue, a.ec_lightblue:visited { background-image: url('arrow_ec_lightblue.gif'); }
a.ec_red:hover, a.ec_orange:hover, a.ec_yellow:hover, a.ec_blue:hover, a.ec_cyan:hover, a.ec_green:hover, a.ec_purple:hover, a.ec_lightblue:hover { background-image: url('arrow_right_hover_002.gif'); }
a.hidden, a.hidden:visited, a.hidden:hover { position: absolute; z-index: -10; font-size: 0pt; line-height: 0; margin: 0pt; padding: 0pt; color: white; display: block; width: 0pt; height: 0pt; }
div.alle_stdg a { color: rgb(0, 0, 0); background-image: url('arrow_right_002.gif'); }
div.alle_stdg a:hover { color: rgb(255, 136, 0); background-image: url('arrow_right_hover_002.gif'); }
#navigation { padding: 0.8em 0pt 0pt; }
#navigation ul { float: left; font-size: 100%; list-style-type: none; padding: 0pt; margin: 0pt; }
#navigation ul li { margin: 0pt; padding: 0pt; }
#navigation em { font-style: normal; }
#navigation ul li a { color: rgb(102, 102, 102); background-image: url('arrow_right.gif'); }
#navigation ul li a:hover { color: rgb(255, 136, 51); background-image: url('arrow_right_hover.gif'); }
#navigation ul li a.path { color: rgb(255, 102, 0); background-image: url('arrow_right_hover.gif'); }
#navigation ul li a.path:hover { color: rgb(255, 136, 51); background-image: url('arrow_right_hover.gif'); }
#navigation ul li a.active { color: rgb(255, 102, 0); background-image: url('arrow_right_hover.gif'); }
#navigation a.active { color: rgb(255, 102, 0); background-image: url('arrow_right_hover.gif'); }
#navigation ul li a.active:hover { color: rgb(255, 136, 51); background-image: url('arrow_right_hover.gif'); }
#navigation ul li a.focus { color: rgb(255, 102, 0); background-image: url('arrow_right_hover.gif'); }
#beam { text-align: center; background-color: rgb(219, 233, 254); }
#header { background-color: rgb(204, 204, 204); color: rgb(243, 243, 243); }
#header h1 { margin: 0pt; padding: 3px 10px; font-weight: normal; }
#header h1 a { color: rgb(247, 247, 247); background-image: none; padding: 0pt; }
#header h1 a.active { color: rgb(238, 102, 0); }
#header h1 a:hover { color: rgb(255, 136, 51); }
#header span.space { font-size: 0px; padding-left: 2px; }
#header span.none { padding: 0pt; }
#header h2 { margin: 0pt; padding: 3px 10px; font-weight: normal; }
#header h2 a { color: rgb(247, 247, 247); background-image: none; padding: 0pt; }
#header h2 a.active { color: rgb(238, 102, 0); }
#header h2 a:hover { color: rgb(255, 136, 51); }
#tools { text-align: right; }
#tools a { color: rgb(153, 153, 153); margin-left: 8px; }
#tools a:hover { color: rgb(255, 136, 51); }
a.styleswitcher { background-image: url('styleswitcher.gif'); }
a.styleswitcher:hover { background-image: url('styleswitcher_hover.gif'); }
a.search { background-image: url('search.gif'); }
a.search:hover { background-image: url('search_hover.gif'); }
a.de { padding-left: 18px; background-image: url('flag_de.gif'); }
a.de:hover { background-image: url('flag_de_hover.gif'); }
a.eng { padding-left: 18px; background-image: url('flag_en.gif'); }
a.eng:hover { background-image: url('flag_en_hover.gif'); }
a.help { background-image: url('help.gif'); }
a.help:hover { background-image: url('help_hover.gif'); }
a.rss { background-image: url('rss.gif'); }
a.rss:hover { background-image: url('rss_hover.gif'); }
a.layoutswitcher { background-image: url('layoutswitcher.gif'); }
a.layoutswitcher:hover { background-image: url('layoutswitcher_hover.gif'); }
a.rss { background-image: url('rss.gif'); }
a.rss:hover { background-image: url('rss_hover.gif'); }
a.facebook { background-image: url('facebook.gif'); }
a.facebook:hover { background-image: url('facebook_hover.gif'); }
#content { color: rgb(34, 34, 34); padding: 2em 0pt 80px; }
#content h1, #content h2, #content h3 { color: rgb(153, 153, 153); font-family: Arial,Helvetica,Sans-Serif; margin: 0pt 0pt 10px; }
#content h2.right { text-align: right; }
#content h2 span.date { float: right; font-size: 80%; }
#content p { margin: 0pt 0pt 10px; }
#content p.none { text-decoration: none; padding-left: 12px; background-image: url('arrow_right.gif'); background-repeat: no-repeat; background-position: left center; color: rgb(102, 102, 102); }
#content em strong, #content strong em { font-style: normal; font-weight: bold; color: rgb(238, 102, 0); }
#content ul { list-style-type: square; }
#content ul li, #content ol li { margin-bottom: 0.2em; }
#content hr { margin: 10px 0pt; border: 1px solid rgb(153, 153, 153); }
#content img { border: 0pt none; }
#content img.top { margin: 3px 0pt 10px; }
#content img.top_right { float: right; margin: 3px 0pt 10px 10px; }
#content img.top_left { float: left; margin: 3px 10px 10px 0pt; }
#content table { padding: 0pt 5px 3px 0pt; font-size: 100%; border-collapse: collapse; }
#content table th, #content table td { padding: 0pt 10px 0pt 0pt; border: 0pt none; vertical-align: top; }
#content table th {  }
#content table.wide th, #content table.wide td { padding: 0pt 5px 30px 0pt; }
div.ec, h3.ec { padding-left: 15px; background-repeat: no-repeat; background-position: left 2px; }
h3.ec { display: inline; }
div.ec_red, h3.ec_red { background-image: url('ec_red.gif'); }
div.ec_orange, h3.ec_orange { background-image: url('ec_orange.gif'); }
div.ec_yellow, h3.ec_yellow { background-image: url('ec_yellow.gif'); }
div.ec_blue, h3.ec_blue { background-image: url('ec_blue.gif'); }
div.ec_cyan, h3.ec_cyan { background-image: url('ec_cyan.gif'); }
div.ec_green, h3.ec_green { background-image: url('ec_green.gif'); }
div.ec_purple, h3.ec_purple { background-image: url('ec_purple.gif'); }
div.ec_lightblue, h3.ec_lightblue { background-image: url('ec_lightblue.gif'); }
.space_bottom { margin-bottom: 5em; }
div.faq_questions a { display: block; margin-bottom: 0.6em; }
div.stdg a { font-size: 80%; }
#footer { text-align: right; padding-bottom: 20px; }
#footer a { margin-left: 10px; }
#printfooter { display: none; }
.tx-indexedsearch { width: 756px; }
.tx-indexedsearch-searchbox-sword { border: 1px solid rgb(221, 221, 221); font-size: 11px; width: 550px; }
.tx-indexedsearch-searchbox-button { border: 1px solid rgb(170, 170, 170); background-color: rgb(221, 221, 221); font-size: 11px; }
select { border: 1px solid rgb(170, 170, 170); background-color: rgb(221, 221, 221); font-size: 11px; }
.csc-mailform { border: medium none; }
.csc-mailform-field label { width: 300px; display: block; margin-top: 15px; }
.csc-mailform-field input { width: 300px; display: block; margin-top: 5px; border: 1px solid grey; }
.csc-mailform-field select { width: 300px; display: block; margin-top: 5px; border: 1px solid grey; }
.csc-mailform-field textarea { width: 300px; display: block; margin-top: 5px; border: 1px solid grey; }
#mailformformtype_mail { width: 100px ! important; }

/* ::::: https://www.fh-frankfurt.de/fileadmin/css/font_small.css ::::: */

#html { font-family: Verdana,Geneva,Arial,Helvetica,Sans-Serif; }
#navigation { font-size: 70%; font-family: Verdana,Geneva,Arial,Helvetica,Sans-Serif; }
#header h1 { font-size: 125%; font-family: Arial,Helvetica,Sans-Serif; }
#tools { font-size: 70%; font-family: Verdana,Geneva,Arial,Helvetica,Sans-Serif; }
#content { font-size: 70%; font-family: Verdana,Geneva,Arial,Helvetica,Sans-Serif; }
#content h1, #content h2, #content h3 { font-family: Arial,Helvetica,Sans-Serif; }
#content h1 { font-size: 150%; }
#content h2 { font-size: 135%; }
#content h3 { font-size: 110%; }
#footer { font-size: 70%; font-family: Verdana,Geneva,Arial,Helvetica,Sans-Serif; }
