
/* ::::: http://hal.archives-ouvertes.fr/css/style.css.php ::::: */

.prototip { font: 11px Arial,Helvetica,sans-serif; color: rgb(0, 0, 0); }
.prototip .default { width: 250px; color: rgb(128, 128, 128); }
.prototip .default .toolbar { background: none repeat scroll 0% 0% rgb(241, 241, 241); font-weight: bold; }
.prototip .default .title { padding: 5px; }
.prototip .default .content { padding: 5px; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.prototip .basic { width: 250px; color: rgb(128, 128, 128); }
.prototip .basic .toolbar { background: none repeat scroll 0% 0% rgb(241, 241, 241); font-weight: bold; }
.prototip .basic .title { padding: 5px; }
.prototip .basic .content { padding: 5px; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.prototip .hint { width: 250px; color: rgb(49, 49, 32); background: none repeat scroll 0% 0% rgb(255, 246, 170); }
.prototip .hint .toolbar { background: none repeat scroll 0% 0% rgb(253, 241, 160); font-weight: bold; }
.prototip .hint .title, .prototip .hint .content { padding: 5px; }
.prototip .protoblue { width: 250px; color: rgb(255, 255, 255); }
.prototip .protoblue .toolbar { background: none repeat scroll 0% 0% rgb(13, 124, 208); font-weight: bold; }
.prototip .protoblue .title { padding: 5px; }
.prototip .protoblue .content { background: none repeat scroll 0% 0% rgb(30, 144, 255); padding: 5px; }
.prototip .creamy { width: 250px; color: rgb(187, 156, 97); }
.prototip .creamy .toolbar { background: none repeat scroll 0% 0% rgb(243, 237, 194); font-weight: bold; }
.prototip .creamy .title { padding: 5px; }
.prototip .creamy .content { background: none repeat scroll 0% 0% rgb(248, 244, 202); padding: 5px; }
.prototip .darkgrey { width: 250px; color: rgb(255, 255, 255); }
.prototip .darkgrey .toolbar { background: none repeat scroll 0% 0% rgb(95, 95, 95); font-weight: bold; }
.prototip .darkgrey .title { padding: 5px; }
.prototip .darkgrey .content { background: none repeat scroll 0% 0% rgb(128, 128, 128); padding: 5px; }
.prototip .protogrey { width: 250px; color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.prototip .protogrey .toolbar { background: none repeat scroll 0% 0% rgb(150, 156, 146); font-weight: bold; }
.prototip .protogrey .title { padding: 5px; }
.prototip .protogrey .content { color: rgb(128, 128, 128); padding: 5px; }
.prototip .protogrey .toolbar .close { width: 14px; height: 14px; }
.prototipLoader { position: absolute; top: -1000px; left: -1000px; height: 14px; width: 14px; border: 1px solid rgb(221, 221, 221); overflow: hidden; }
.prototip { position: absolute; overflow: hidden; }
.prototip .tooltip, .prototip .toolbar, .prototip .toolbar .title { position: relative; }
.prototip .content { clear: both; }
.prototip .toolbar .close { position: relative; text-decoration: none; float: right; width: 19px; height: 15px; display: block; line-height: 0; font-size: 0pt; border: 0pt none; cursor: pointer; }
.prototip .tooltip { clear: both; float: left; }
.prototip .borderLeftWrapper, .prototip .borderRightWrapper { position: absolute; top: 0pt; left: 0pt; width: 300px; height: 20px; }
.prototip .borderFrame { height: 100%; width: 100%; float: left; margin: 0pt; padding: 0pt; position: relative; }
.prototip .borderTop, .prototip .borderBottom { overflow: hidden; }
.prototip .borderRow { list-style-type: none; float: left; width: 100%; position: relative; clear: both; margin: 0pt; padding: 0pt; }
.prototip_CornerWrapper { position: absolute; top: 0pt; left: 0pt; width: 100%; height: 100%; margin: 0pt; padding: 0pt; clear: both; }
.prototip_Corner { float: left; position: relative; }
.prototip canvas { position: relative; float: left; }
.prototip_CornerTr, .prototip_CornerBr { float: right; }
.prototip_BetweenCorners { position: absolute; top: 0pt; left: 0pt; width: 100%; overflow: hidden; clear: both; }
.prototip .borderMiddle { position: relative; float: left; }
.prototip .borderCenter { position: relative; float: left; height: 100%; }
.prototip_StemWrapper { position: relative; width: 100%; height: auto; clear: both; }
.prototip_StemBox { float: left; position: relative; }
.prototip_Stem { width: 100%; position: absolute; overflow: hidden; }
.iframeShim { position: absolute; border: 0pt none; margin: 0pt; padding: 0pt; background: none repeat scroll 0% 0% transparent; overflow: hidden; }
.prototip .clearfix:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
.prototip .clearfix { display: inline-block; }
.prototip .clearfix { display: block; }
#menuGraphMycons { border-bottom: thin solid rgb(204, 204, 204); padding: 9px; }
#menuGraphMycons span[class="visible"] { color: black; background-color: white; cursor: pointer; margin-bottom: 10px; margin-right: 10px; padding: 10px; border-top: thin solid rgb(204, 204, 204); border-left: thin solid rgb(204, 204, 204); border-right: thin solid rgb(204, 204, 204); }
#menuGraphMycons span[class="hidden"] { color: gray; cursor: pointer; margin-bottom: 10px; margin-right: 10px; padding: 10px; border-top: thin solid rgb(204, 204, 204); border-left: thin solid rgb(204, 204, 204); border-right: thin solid rgb(204, 204, 204); }
#menuForm { border-bottom: thin solid rgb(204, 204, 204); padding: 9px; }
#menuGraph { border-top: thin solid rgb(204, 204, 204); padding: 9px; text-align: right; }
#menuForm span[class="visible"] { color: black; background-color: rgb(234, 239, 240); cursor: pointer; margin-bottom: 10px; margin-right: 10px; padding: 10px; border-top: thin solid rgb(204, 204, 204); border-left: thin solid rgb(204, 204, 204); border-right: thin solid rgb(204, 204, 204); }
#menuForm span[class="hidden"] { color: gray; cursor: pointer; margin-bottom: 10px; margin-right: 10px; padding: 10px; border-top: thin solid rgb(204, 204, 204); border-left: thin solid rgb(204, 204, 204); border-right: thin solid rgb(204, 204, 204); }
#menuGraph span[class="visible"] { color: black; background-color: rgb(234, 239, 240); cursor: pointer; margin-bottom: 10px; margin-right: 10px; padding: 10px; border-bottom: thin solid rgb(204, 204, 204); border-left: thin solid rgb(204, 204, 204); border-right: thin solid rgb(204, 204, 204); }
#menuGraph span[class="hidden"] { color: gray; cursor: pointer; margin-bottom: 10px; margin-right: 10px; padding: 10px; border-bottom: thin solid rgb(204, 204, 204); border-left: thin solid rgb(204, 204, 204); border-right: thin solid rgb(204, 204, 204); }
#contentForm, #contentGraph { background-color: rgb(234, 239, 240); padding-top: 20px; }
#autocompleteArticle td { cursor: pointer; }
#autocompleteArticle td:hover { background-color: rgb(234, 239, 240); }
#autocompleteAuteur td { cursor: pointer; }
#autocompleteAuteur td:hover { background-color: rgb(234, 239, 240); }
#autocompleteLabo td { cursor: pointer; }
#autocompleteLabo td:hover { background-color: rgb(234, 239, 240); }
#autocompleteCollection td { cursor: pointer; }
#autocompleteCollection td:hover { background-color: rgb(234, 239, 240); }
#div_searchStamp { position: absolute; background-color: white; border: thin solid rgb(204, 204, 204); margin-left: 60px; }
body { margin: 0px; border: 0px none; padding: 0px; background: url('hal_bg.gif') repeat-x scroll 0% 0% rgb(234, 231, 222); }
div.logo, div.onglet, div.lien, div.corps { position: relative; width: 955px; margin: 0px auto; border-right: 1px solid rgb(217, 219, 231); border-left: 1px solid rgb(217, 219, 231); }
div.logo { top: 0px; height: 100px; background: url('bandeau_hal.jpg') repeat scroll 0% 0% rgb(255, 255, 255); border-top: 1px solid rgb(217, 219, 231); margin-top: 10px; padding: 10px; }
div.onglet { height: 30px; background: url('hal_tab.gif') repeat scroll 0% 0% rgb(255, 255, 255); padding: 0px 10px; z-index: 10; }
div.lien { height: 30px; background: url('hal_lien.gif') no-repeat scroll center bottom rgb(255, 255, 255); padding: 5px 10px 0px; text-align: right; }
div.corps { border-bottom: 1px solid rgb(217, 219, 231); padding: 5px 10px 10px; margin-bottom: 10px; text-align: left; min-height: 600px; background-color: rgb(255, 255, 255); }
html, body, a, table, td, form, input, select, textarea, div, p, span, h1, h2, h3, b, ul, li { font-family: Arial,Verdana,Helvetica,sans-serif; }
body { color: rgb(51, 51, 51); font-size: 11px; }
a { color: rgb(52, 96, 153); text-decoration: none; font-size: 11px; }
a.lien_vue { color: rgb(51, 51, 51); font-weight: bold; font-style: italic; font-size: 11px; text-decoration: none; }
a:hover, a.lien_vue:hover { color: rgb(243, 118, 39); text-decoration: underline; }
td { border-color: rgb(52, 96, 153); font-size: 12px; }
td.with_border { border: 1px solid rgb(52, 96, 153); color: rgb(52, 96, 153); text-decoration: none; font-size: 11px; }
td.title { position: relative; color: rgb(255, 255, 255); text-decoration: none; font-size: 11px; font-weight: bold; background: url('hal_tab_off.gif') repeat scroll 0% 0% transparent; padding: 4px 0px; border-right: 1px solid rgb(255, 255, 255); }
.etape_off, .etape_on, .etape_link { padding: 2px; color: rgb(51, 51, 51); text-decoration: none; font-size: 11px; font-weight: normal; font-style: normal; background-color: rgb(255, 255, 255); }
.etape_on { font-weight: bold; }
.etape_link, a.etape_link:hover { color: rgb(255, 255, 255); background-color: rgb(243, 118, 39); }
.apropos { width: 400px; font-size: 11px; font-weight: bold; background-color: rgb(255, 255, 255); border: 1px solid rgb(217, 219, 231); }
.navigate_in_page, a.navigate_in_page, a.navigate_in_page_withbg { color: rgb(52, 96, 153); font-weight: normal; font-size: 10px; text-decoration: none; }
a.navigate_in_page { text-decoration: underline; }
a.navigate_in_page_withbg { background-color: rgb(255, 255, 153); text-decoration: underline; }
a.navigate_in_page:hover, a.navigate_in_page_withbg:hover { color: rgb(243, 118, 39); }
a.navigate_domain, a.navigate_domain_null { color: rgb(52, 96, 153); font-weight: normal; font-size: 11px; }
a.navigate_domain:hover, a.navigate_domain_null:hover { color: rgb(243, 118, 39); }
.navigate_tampon { color: rgb(52, 96, 153); font-weight: bold; font-size: 12px; text-decoration: none; }
a.navigate_tampon:hover { color: rgb(243, 118, 39); text-decoration: underline; }
.navigate_domain_small { color: rgb(51, 51, 51); font-weight: normal; font-size: 10px; text-decoration: none; }
a.navigate_domain_small:hover { text-decoration: underline; }
.accueil { padding: 0px 10px; text-align: justify; color: rgb(51, 51, 51); font-weight: normal; font-size: 12px; text-decoration: none; }
a.link_accueil { font-weight: bold; font-size: 12px; }
a.link_accueil:hover { color: rgb(243, 118, 39); }
.accueil_logo { background-color: rgb(243, 241, 234); border: 1px solid rgb(255, 255, 255); }
.in_validate_process { background-color: rgb(242, 220, 219); }
select.langue { font-size: 10px; font-weight: bold; }
select.langue option { background-position: left center; background-repeat: no-repeat; padding: 1px 0px 1px 24px; }
select.langue option.current { color: rgb(243, 118, 39); }
input.login { background-color: rgb(234, 239, 240); border: 0px none; font-size: 12px; font-weight: bold; height: 13px; }
#divConnectContent { background-color: rgb(255, 255, 238); }
.accordionTabTitleBarOpen, .accordionTabTitleBarClose { background: url('news_picto_down.gif') no-repeat scroll 5px center rgb(197, 190, 168); font-weight: bold; padding: 4px 6px 4px 30px; font-size: 11px; color: rgb(255, 255, 255); }
.accordionTabTitleBarClose { background: url('news_picto.gif') no-repeat scroll 5px center rgb(162, 142, 115); }
.tabTitleBar { font-size: 11px; font-weight: bold; padding: 4px 0px 4px 5px; background: none repeat scroll 0% 0% rgb(162, 142, 115); color: rgb(255, 255, 255); }
#divGraphContent { margin: 0pt; }
.divGraphLink { background-color: rgb(162, 142, 115); text-align: right; margin-bottom: 5px; }
.accordionTabContentBox { padding: 0px; background-color: rgb(255, 255, 255); color: rgb(51, 51, 51); border: 1px solid rgb(162, 142, 115); font-weight: normal; font-size: 11px; text-decoration: none; margin-bottom: 5px; }
div#accordionNews div.accordionTabContentBox { margin-bottom: 0px; }
div#accordionNews { margin-bottom: 5px; }
.lastDepots { font-family: Arial,Helvetica,sans-serif; color: rgb(51, 51, 51); font-weight: normal; text-decoration: none; }
.lastDepots td { font-size: 11px; }
#divNbArtContent hr { color: rgb(217, 219, 231); background-color: rgb(217, 219, 231); height: 1px; border: 0pt none; }
.popuphead { color: rgb(52, 96, 153); font-weight: bold; font-size: 17px; }
.titlehead { color: rgb(243, 118, 39); font-weight: bold; font-size: 15px; }
.action_head, a.action_head { color: rgb(52, 96, 153); font-weight: bold; font-size: 17px; }
a.action_head:hover { color: rgb(52, 96, 153); font-weight: bold; }
.formulaire, .formulaire_unselected, .formulaire_small, .formulaire_large, .formulaire_roll, .formulaire_on, .formulaire_bg, ul.domain { color: rgb(51, 51, 51); font-weight: bold; font-size: 11px; vertical-align: middle; }
.formulaire_unselected { color: rgb(153, 153, 153); vertical-align: middle; }
.formulaire_small { font-size: 10px; vertical-align: middle; }
.formulaire_large { font-size: 12px; vertical-align: middle; }
.formulaire_roll, .formulaire_on { background-color: rgb(68, 255, 255); cursor: pointer; }
.formulaire_bg { font-weight: bold; font-size: 10px; vertical-align: middle; background-color: rgb(234, 239, 240); }
.error { font-family: Verdana,Arial; color: rgb(214, 39, 82); font-weight: bold; font-size: 11px; }
.help, a.help, .help_italic, .help_bold { font-family: Verdana,Arial; color: rgb(51, 51, 51); font-weight: normal; font-size: 10px; }
a.help:hover { text-decoration: none; }
.help_italic { font-style: italic; }
.help_bold { font-weight: bold; }
.blabla, a.blabla:hover { font-family: Verdana,Arial; color: rgb(51, 51, 51); font-weight: normal; font-size: 10px; }
.blabla_large { font-family: Georgia,Verdana; color: rgb(51, 51, 51); font-weight: normal; font-size: 15px; }
.presentation, a.presentation, .presentation_large, .presentation_italique { color: rgb(51, 51, 51); font-weight: normal; font-size: 11px; text-decoration: none; }
.presentation_large { font-weight: bold; font-size: 12px; }
a.presentation, a.presentation:hover { font-size: 11px; text-decoration: underline; }
.presentation_italique { font-style: italic; }
.connected_as { color: rgb(52, 96, 153); text-decoration: none; font-size: 10px; font-weight: bold; float: left; margin-right: 5px; }
a.connected_as:hover { cursor: help; }
.invers_video { color: rgb(255, 255, 255); font-size: 10px; font-weight: bold; background-color: rgb(51, 51, 51); text-decoration: none; padding: 2px; }
a.invers_video:hover { text-decoration: underline; }
.repertoire { color: rgb(51, 51, 51); font-size: 12px; font-weight: bold; text-decoration: none; }
a.file_link { font-size: 11px; font-weight: bold; }
a.file_link:hover { text-decoration: underline; }
.button, .button_red, .button_inactif { color: rgb(255, 255, 255); font-size: 11px; font-weight: bold; background-color: rgb(52, 96, 153); text-decoration: none; border: 1px solid rgb(52, 96, 153); }
.button_red { background-color: rgb(243, 118, 39); border: 1px solid rgb(243, 118, 39); }
.button_inactif { background-color: rgb(160, 160, 160); border: 1px solid rgb(160, 160, 160); }
input.button:hover, input.button_red:hover, input.button_inactif:hover { color: rgb(52, 96, 153); background-color: rgb(255, 255, 255); border: 1px solid rgb(52, 96, 153); cursor: pointer; }
input.button_red:hover { color: rgb(243, 118, 39); border: 1px solid rgb(243, 118, 39); }
input.button_inactif:hover { color: rgb(160, 160, 160); border: 1px solid rgb(160, 160, 160); }
.action { color: rgb(52, 96, 153); font-weight: normal; font-size: 10px; text-decoration: none; padding: 0.1em; background-color: rgb(255, 255, 255); border: 1px solid rgb(52, 96, 153); }
a.action:hover { color: rgb(255, 255, 255); background-color: rgb(52, 96, 153); cursor: pointer; }
a.version_dispo_on, a.version_dispo_on:hover, a.version_dispo_off, a.version_dispo_off:hover { color: rgb(52, 96, 153); font-size: 11px; font-weight: bold; text-decoration: none; }
a.version_dispo_off, a.version_dispo_off:hover { text-decoration: underline; }
.metadata, a.metadata, .small_metadata, a.small_metadata, .small_metadata_italic, .large_metadata, a.large_metadata, .meta_title, .meta_abstract, .meta_auteur, .meta_labo, .meta_refBiblio, .nom_meta, .nom_fichier, .meta, .labo_id { color: rgb(51, 51, 51); font-weight: normal; font-style: normal; font-size: 12px; text-decoration: none; }
.small_metadata, a.small_metadata, .small_metadata_italic { font-size: 11px; }
.small_metadata_italic { font-style: italic; }
.large_metadata, a.large_metadata { font-size: 15px; }
.meta, a.meta { font-weight: bold; text-align: justify; }
.meta_title { font-size: 17px; font-weight: bold; color: rgb(52, 96, 153); }
.meta_abstract { text-align: justify; padding: 0pt 25px; }
.meta_domain { color: rgb(68, 112, 169); font-weight: normal; font-style: italic; font-size: 12px; }
a.meta_domain:hover, a.meta_auteur:hover, a.meta_labo:hover, a.large_metadata, a.large_metadata:hover, a.small_metadata:hover, a.meta:hover { text-decoration: underline; }
.meta_refBiblio { text-align: left; background-color: rgb(234, 239, 240); padding: 5px; }
.nom_meta, .nom_fichier { font-size: 10px; text-align: left; vertical-align: top; }
.labo_id { font-weight: bold; font-size: 10px; }
.calendar, .calendar:hover { color: rgb(52, 96, 153); font-weight: normal; font-size: 10px; text-decoration: none; }
a.urlCourt, a.urlCourt:hover { color: rgb(51, 51, 51); font-weight: bold; font-size: 12px; text-decoration: none; }
.licence { color: rgb(51, 51, 51); font-family: Georgia,Verdana; font-weight: normal; font-size: 12px; text-align: justify; text-decoration: none; padding: 0pt 25px; background-color: rgb(255, 255, 238); }
ul.domain { list-style-type: square; margin: 0pt; padding-left: 15px; }
li.domain_primaire { color: rgb(52, 96, 153); }
div.tab_down, div.tab_up { float: left; background-color: rgb(240, 249, 252); margin-right: 1px; height: 15px; text-align: center; font-size: 11px; border-bottom: 1px solid rgb(217, 219, 231); }
div.tab_up, div.tab_down:hover { background-color: rgb(234, 239, 240); border-bottom: 1px solid rgb(234, 239, 240); }
td.mult { background-color: rgb(234, 239, 240); border-left: 1px solid rgb(217, 219, 231); border-right: 1px solid rgb(217, 219, 231); border-bottom: 1px solid rgb(217, 219, 231); }
td.tab_mult { background-color: rgb(217, 219, 231); border-left: 1px solid rgb(217, 219, 231); border-right: 1px solid rgb(217, 219, 231); border-top: 1px solid rgb(217, 219, 231); }
div.previous { padding: 1em 0.5em; text-align: right; }
div.next { padding: 1em 0.5em; float: right; width: 50%; }
#file_right { background-color: rgb(221, 242, 254); padding: 1px 10px; margin: 0px; }
#file_right li { list-style-type: none; }
.tampon { border-right: 2px solid rgb(52, 96, 153); border-width: 2px; border-style: solid; border-color: rgb(110, 145, 191) rgb(52, 96, 153) rgb(52, 96, 153) rgb(110, 145, 191); }
.docVieUser { color: rgb(243, 118, 39); font-size: 12px; font-weight: bold; }
.docVieTitle { color: rgb(51, 51, 51); font-size: 12px; font-weight: bold; }
.docVieDate { color: rgb(51, 51, 51); font-size: 10px; font-style: italic; }
div.docVieComment { color: rgb(51, 51, 51); font-size: 10px; padding: 0px 20px 10px; }
div.vieArticleTitle { background-color: rgb(110, 145, 191); border-top-right-radius: 30px; border-top-left-radius: 30px; border: 1px solid rgb(110, 145, 191); color: rgb(255, 255, 255); font-size: 15px; font-weight: bold; text-align: center; }
div.docVieElem { background-color: rgb(255, 255, 255); border-width: 0pt 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(110, 145, 191) rgb(110, 145, 191); }
form#form_labo { text-align: left; }
.moderate { border: 1px solid rgb(110, 145, 191); }
.moderate_portail, .moderate_portail_arxiv { background: url('hal_tab_off.gif') repeat scroll 0% 0% transparent; color: rgb(255, 255, 255); font-size: 12px; font-weight: bold; }
.moderate_portail_arxiv { background: url('hal_tab_on.gif') repeat scroll 0% 0% transparent; }
.moderate_head { background-color: rgb(196, 210, 230); color: rgb(51, 51, 51); font-size: 11px; font-weight: bold; }
.paire { background-color: rgb(255, 255, 255); }
.impaire { background-color: rgb(234, 239, 240); }
.msg_moderator { border: 1px solid rgb(110, 145, 191); padding: 5px; font-weight: bold; }
.msg_moderator div.text { font-weight: normal; padding-left: 5px; border-left: 1px solid rgb(110, 145, 191); }
.msg_moderator .date { color: rgb(52, 96, 153); }
.msg_moderator .to { color: rgb(243, 118, 39); }
#img_action_doc { position: relative; float: right; }
#action_doc, #action_doc_autre { margin-top: 4px; padding: 4px; }
#action_doc { border: 1px solid rgb(110, 145, 191); text-align: center; width: 80%; }
.editor_field { font-size: 11px; color: rgb(52, 96, 153); margin-right: 2px; }
div.divTitle { border: 1px solid rgb(198, 191, 169); background-color: rgb(198, 191, 169); font-weight: bold; font-size: 10px; color: rgb(255, 255, 255); width: 300px; margin: 0px; height: auto; }
div.divSubTitle { border: 0pt none; font-size: 12px; font-weight: bold; width: auto; margin-left: 5px; color: rgb(52, 96, 153); }
div.divAuthor { border: 1px solid rgb(198, 191, 169); background-color: rgb(234, 231, 222); width: 600px; margin-bottom: 10px; }
div.divAuthorForm { margin-left: 13px; margin-bottom: 0px; padding: 0px; border-left: 1px solid rgb(110, 145, 191); width: 550px; }
div.divLaboForm { margin-left: 20px; margin-bottom: 0px; padding: 0px; border: 1px dashed rgb(110, 145, 191); width: 550px; }
table.tableForm td { font-size: 10px; }
.tableFormObli { font-size: 10px; font-weight: bold; color: red; }
div.divLabo, div.divNewLabo, div.divLaboInfo { margin-top: 0px; margin-left: 1px; min-height: 25px; }
div.divLaboAdd { min-height: 10px; margin-top: 0px; margin-left: 1px; }
input.auto_complete { border: 1px dashed rgb(110, 145, 191); background-color: rgb(255, 255, 255); }
div.auto_complete { z-index: 1000; background-color: white; border: 1px solid rgb(136, 136, 136); margin: 0px; padding: 0px; }
ul.liste_ajax, ul.affi_list { list-style-type: none; margin: 0px; padding: 0px; }
ul.liste_ajax li.selected { background-color: rgb(255, 255, 187); }
li.elem_ajax { list-style-type: none; display: block; margin: 0pt; padding: 2px; font-size: 10px; }
li.elem_ajax_new { list-style-type: none; display: block; margin: 0pt; padding: 2px; font-size: 11px; font-weight: bold; font-style: italic; border-bottom: 1px solid rgb(110, 145, 191); background-color: rgb(238, 238, 238); }
li.elem_ajax_msg { background-image: url('warning.gif'); background-repeat: no-repeat; background-position: left center; display: block; margin: 0pt; padding: 5px 20px; font-size: 11px; font-weight: bold; font-style: italic; background-color: rgb(255, 255, 187); }
li.ref_biblio { list-style-type: none; display: block; margin: 0pt; padding: 2px; background-color: rgb(238, 238, 238); border-top: 1px solid rgb(153, 153, 153); }
ul.liste_ajax a { font-size: 10px; color: rgb(51, 51, 51); }
ul.boxy { list-style-type: none; padding: 0px; margin: 0px; }
ul.boxy li { width: auto; }
span.handle, a.handle { cursor: move; }
span.pointer { cursor: pointer; }
span.spanLaboText { cursor: url('copy.cur'), auto; font-size: 10px; }
.formulaire_auto { color: rgb(136, 136, 136); font-style: italic; font-size: 11px; vertical-align: middle; font-weight: normal; }
div.divAuthorList { height: 200px; overflow: auto; border: 1px dashed rgb(255, 255, 255); background-color: rgb(255, 255, 255); }
div.divAuthorListSmall { border: 1px dashed rgb(255, 255, 255); background-color: rgb(255, 255, 255); }
div.notification { position: fixed; z-index: 10000; bottom: 0pt; left: 0px; padding: 5px 0pt 0pt; height: 20px; margin: 0pt; width: 100%; background-image: url('fond_load.png'); display: block; color: rgb(68, 68, 68); text-align: center; font-weight: bold; font-size: 12px; font-family: Verdana,Arial,Helvetica,sans-serif; }
.hand { cursor: pointer; }
div.divStat { border: 1px solid rgb(198, 191, 169); background-color: rgb(234, 231, 222); width: 700px; margin-bottom: 10px; }
.modifiable { list-style-type: none; padding: 5px 30px; margin: 0px; }
.modifiable li { width: auto; padding: 1px; }
.item { cursor: move; }
.consultable { list-style-type: none; background-color: rgb(255, 255, 255); padding: 5px 30px; margin: 3px; }
.consultable li { width: auto; padding: 3px; }
.public { background-color: rgb(204, 255, 204); font-size: 10px; font-style: italic; border: 1px solid rgb(255, 255, 255); width: 400px; }
.private { background-color: rgb(255, 204, 153); font-size: 10px; font-style: italic; border: 1px solid rgb(255, 255, 255); width: 400px; }
td.donnees { font-weight: bold; }
div.menu_n1, div.conf_logo { border: 1px solid rgb(204, 204, 204); width: 300px; margin: 5px 0px; padding: 0px 0px 10px; background-color: rgb(239, 239, 239); }
div.menu_n1 span.title, div.conf_logo span.title { font-size: 12px; font-weight: bold; padding: 2px 5px; margin: 0pt 0pt 2px; background-color: rgb(204, 204, 204); display: block; cursor: move; }
div.tabs input { font-size: 10px; }
.handle { cursor: move; }
div.menu_n2 { border: 1px solid rgb(204, 204, 204); width: 299px; background-color: rgb(255, 255, 255); }
div.divMetaPrec { border-width: 1px; border-style: dashed; border-color: rgb(255, 255, 255) rgb(153, 136, 119) rgb(153, 136, 119); background-color: rgb(255, 255, 255); font-size: 10px; display: none; }
#sherpa_green { background-color: rgb(208, 249, 210); }
#sherpa_blue { background-color: rgb(211, 236, 250); }
#sherpa_yellow { background-color: rgb(255, 255, 223); }
#sherpa_white { background-color: rgb(245, 245, 245); }
.sherpa { background: none repeat scroll 0% 0% rgb(255, 255, 255); font-family: arial; font-size: 10px; border: 1px solid rgb(51, 51, 51); width: 400px; }
.sherpa_res td { background: none repeat scroll 0% 0% rgb(245, 245, 245); font-family: arial; font-size: 10px; }
div.refBiblio { border-radius: 30px 30px 30px 30px; background-color: rgb(238, 238, 238); border: 1px solid rgb(153, 153, 153); padding: 5px 20px; }
.valid1 { background-color: rgb(234, 241, 221); }
.valid99 { background-color: rgb(218, 238, 243); }
.valid0 { background-color: rgb(242, 219, 219); }
div#halmenu ul { width: 975px; padding: 0px; margin: 0px; text-align: center; }
div#halmenu li.current { background: url('hal_tab_on.gif') repeat scroll 0% 0% transparent; height: 30px; }
div#halmenu ul li:hover { background: url('hal_tab_hover.gif') repeat scroll 0% 0% transparent; }
div#halmenu ul li { width: 100px; position: relative; list-style: none outside none; float: left; border-right: 1px dotted rgb(255, 255, 255); height: 30px; }
div#halmenu ul ul { position: absolute; display: none; width: 201px; left: -1px; top: 30px; border-left: 1px dotted rgb(255, 255, 255); border-bottom: 1px solid rgb(122, 149, 229); margin: 0pt; padding-left: 0px; }
div#halmenu ul ul ul { border-left: 1px solid rgb(122, 149, 229); }
div#halmenu ul ul li { width: 200px; background: none repeat scroll 0% 0% rgb(75, 92, 206); border-right: 1px solid rgb(122, 149, 229); border-top: 1px solid rgb(122, 149, 229); height: auto; }
div#halmenu ul ul li:hover { background: none repeat scroll 0% 0% rgb(96, 131, 233); }
div#halmenu ul.niveau1 li:hover ul.niveau3 { display: none; }
div#halmenu li a { color: rgb(255, 255, 255); font-weight: bold; font-size: 11px; text-decoration: none; padding: 8px 0pt; display: block; width: 100px; }
div#halmenu ul ul li a { width: 200px; font-size: 10px; padding: 4px 0pt; }
div#halmenu li.open, div#halmenu li.open:hover { background-image: url('open_tab_blanc.gif'); background-repeat: no-repeat; background-position: right center; }
div#halmenu ul.niveau1 li:hover ul.niveau2, div#halmenu ul.niveau2 li.open:hover ul.niveau3, div#halmenu ul.niveau2 li:hover ul.niveau3 { display: block; }
div#halmenu ul.niveau3 { top: -1px; left: 200px; }
div#halhelp { top: 0px; position: absolute; left: 920px; }
div#halhelp ul { border: 0px none; margin: 0px; padding: 0px; width: 15px; }
div#halhelp ul li { padding: 0px; margin: 0px; display: block; width: 15px; border: 0px none; }
div#halhelp ul li:hover { background: none repeat scroll 0% 0% transparent; }
div#halhelp ul li a { width: 15px; }
div#halhelp ul ul { left: -157px; }
div#halhelp ul ul li { width: 200px; background: none repeat scroll 0% 0% rgb(75, 92, 206); border-right: 1px solid rgb(122, 149, 229); border-top: 1px solid rgb(122, 149, 229); height: auto; }
div#halhelp ul ul li:hover { background: none repeat scroll 0% 0% rgb(96, 131, 233); }
div#halhelp ul ul li a { width: 200px; }
div#halhelp ul li:hover ul { display: block; }
div.fulltext { left: 800px; padding: 0px; position: absolute; top: 7px; z-index: 10; }
div.fulltext input[type="text"] { background-color: rgb(234, 239, 240); border: 0px none; font-size: 10px; height: 12px; }
div.connected { left: 940px; padding: 0px; position: absolute; top: 7px; z-index: 10; }
fieldset.homeLastArticle { border: 1px solid rgb(204, 204, 204); padding: 0px 0px 4px; }
#lastArticle { border: 0px none; margin: 0px; padding: 0px; width: 100%; position: relative; top: 5px; }
#lastArticleCat { overflow: hidden; position: relative; height: 23px; margin: 0px 20px; z-index: 1; }
#lastArticleCatList { height: 23px; margin: 0px; padding: 0px; width: 1800px; position: absolute; }
#lastArticleCatList div { padding: 0px 10px; margin: 0px 2px 0px 0px; float: left; height: 22px; line-height: 22px; text-align: center; color: rgb(52, 96, 153); background: none repeat scroll 0% 0% rgb(238, 238, 238); border: 1px solid rgb(204, 204, 204); font-size: 10px; font-weight: bold; cursor: pointer; }
#lastArticleNavPrev { position: absolute; top: 5px; left: 3px; }
#lastArticleNavNext { position: absolute; top: 5px; left: 587px; }
#lastArticleCatList div.actif { height: 23px; border-bottom: 1px solid rgb(255, 255, 240); background: none repeat scroll 0% 0% rgb(255, 255, 240); }
#lastArticleContent { height: 200px; border-top: 1px solid rgb(204, 204, 204); clear: both; overflow: hidden; padding-bottom: 5px; background: none repeat scroll 0% 0% rgb(255, 255, 240); position: relative; text-align: justify; z-index: 0; top: -1px; }
#lastArticleContent .titleArt { font-size: 12px; font-weight: bold; text-align: left; }
#lastArticleContent .authorArt { font-size: 11px; font-style: italic; }
#lastArticleContent .abstractArt { font-size: 10px; }
#lastArticleContent a:hover { text-decoration: none; }
.homePres { font-size: 13px; text-align: justify; }
#divGraphHeader { background-color: rgb(234, 231, 222); position: relative; }
#divConnect { background-color: rgb(238, 238, 238); border-left: 1px solid rgb(204, 204, 204); border-right: 1px solid rgb(204, 204, 204); border-top: 1px solid rgb(204, 204, 204); }
#divConnectContent { background-color: rgb(238, 238, 238); border-left: 1px solid rgb(204, 204, 204); border-right: 1px solid rgb(204, 204, 204); border-bottom: 1px solid rgb(204, 204, 204); margin-bottom: 5px; padding-left: 0px; }
input.login { background-color: rgb(255, 255, 255); }
.accordionTabTitleBarOpen, .accordionTabTitleBarClose { font-weight: bold; padding: 4px 6px 4px 30px; font-size: 12px; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
.accordionTabTitleBarClose { background: url('hal_news_picto.png') no-repeat scroll 5px center rgb(255, 255, 255); cursor: pointer; }
.accordionTabTitleBarOpen { background: url('hal_news_picto_down.png') no-repeat scroll 5px center rgb(255, 255, 255); cursor: pointer; }
.tabTitleBar { font-size: 13px; font-weight: bold; padding: 4px 0px 4px 5px; background: none repeat scroll 0% 0% rgb(238, 238, 238); color: rgb(52, 96, 153); }
#divGraphContent { margin: 0pt; }
.divGraphLink { margin: 0px; background: none repeat scroll 0% 0% rgb(234, 231, 222); position: absolute; left: 260px; top: 2px; }
.accordionTabContentBox { padding: 0px 0px 0px 30px; background-color: rgb(255, 255, 255); border: 0px none; font-weight: normal; font-size: 13px; text-decoration: none; color: rgb(52, 96, 153); margin-bottom: 5px; }
div#accordionNews div.accordionTabContentBox { margin-bottom: 0px; }
div#accordionNews { margin-bottom: 5px; }
#divNbArtHeader, #divNewsHeader, #divContactHeader { background-color: rgb(255, 255, 255); border-top: 1px solid rgb(221, 221, 221); border-left: 1px solid rgb(221, 221, 221); border-right: 1px solid rgb(221, 221, 221); }
#divNbArtContent, #divNewsContent, #divContactContent { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-bottom: 1px solid rgb(221, 221, 221); border-left: 1px solid rgb(221, 221, 221); border-right: 1px solid rgb(221, 221, 221); }
#divNbArtContent hr { color: rgb(217, 219, 231); background-color: rgb(217, 219, 231); height: 1px; border: 0pt none; }
.homeTitle, .homeLegend { font-size: 13px; font-weight: bold; padding: 4px 0px 4px 5px; color: rgb(52, 96, 153); }
fieldset.home { border: 1px solid rgb(204, 204, 204); padding: 0px 0px 4px; margin-top: 5px; }
div.accueil, div.accueil a { font-size: 13px; }
.newsText { border-left: 1px solid rgb(221, 221, 221); padding-left: 5px; }
#lastArticleNavPrev, #lastArticleNavNext { cursor: pointer; }
#divNbArtContent { cursor: pointer; }
.tdata tbody tr:hover { background: none repeat scroll 0% 0% rgb(234, 231, 222); }
.odd { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.even { background: none repeat scroll 0% 0% rgb(234, 239, 240); }
.selected { background: none repeat scroll 0% 0% rgb(255, 255, 187); }
.navigation { text-align: right; width: 100%; }
.helptoolcontent { color: rgb(52, 96, 153); }
.helptooltitle { color: rgb(243, 118, 39); }
.helptool { cursor: pointer; }
.mydoc_help, .autlab_help { background-color: rgb(255, 255, 204); text-align: center; color: rgb(52, 96, 153); }
.search_help { background-color: rgb(255, 255, 204); text-align: center; padding: 5px; color: rgb(52, 96, 153); }
.divLegend table { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.export_tab { background: none repeat scroll 0% 0% rgb(234, 239, 240); }

/* ::::: http://static.archives-ouvertes.fr/css/lightbox.css ::::: */

#lightbox { position: absolute; left: 0pt; width: 100%; z-index: 100; text-align: center; line-height: 0; }
#lightbox img { width: auto; height: auto; }
#lightbox a img { border: medium none; }
#outerImageContainer { position: relative; background-color: rgb(255, 255, 255); width: 250px; height: 250px; margin: 0pt auto; }
#imageContainer { padding: 10px; }
#loading { position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#hoverNav { position: absolute; top: 0pt; left: 0pt; height: 100%; width: 100%; z-index: 10; }
#imageContainer > #hoverNav { left: 0pt; }
#hoverNav a { outline: medium none; }
#prevLink, #nextLink { width: 49%; height: 100%; background-image: url('gif-base64,aaaa'); display: block; }
#prevLink { left: 0pt; float: left; }
#nextLink { right: 0pt; float: right; }
#prevLink:hover, #prevLink:visited:hover { background: url('prevlabel.gif') no-repeat scroll left 15% transparent; }
#nextLink:hover, #nextLink:visited:hover { background: url('nextlabel.gif') no-repeat scroll right 15% transparent; }
#imageDataContainer { font: 10px/1.4em Verdana,Helvetica,sans-serif; background-color: rgb(255, 255, 255); margin: 0pt auto; overflow: auto; width: 100%; }
#imageData { padding: 0pt 10px; color: rgb(102, 102, 102); }
#imageData #imageDetails { width: 70%; float: left; text-align: left; }
#imageData #caption { font-weight: bold; }
#imageData #numberDisplay { display: block; clear: left; padding-bottom: 1em; }
#imageData #bottomNavClose { width: 66px; float: right; padding-bottom: 0.7em; outline: medium none; }
#overlay { position: absolute; top: 0pt; left: 0pt; z-index: 90; width: 100%; height: 100%; background-color: rgb(0, 0, 0); }
